

#halfdiv {
    height: 500px;
    background-image: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );;

}

.animate-bottom{
    position:relative;
    animation:animatebottom 1s
}
@keyframes animatebottom
    {from{bottom:-100px;opacity:0} 
        to{bottom:0;opacity:1}
    }

.has-white-shadow-solid{
    text-shadow: 2px 2px #ffffff;
}

.small-size {
    .label {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

.myDiv
{
  border: 1px solid #333;
  width: 100px;
  height: 100px;
  box-shadow: 10px 0 5px -2px #888;
}

.errmodx {
    box-shadow: 0 24px 80px -2px rgba(70, 51, 245, 0.4) !important;
}

.vm--overlay {
    background: rgb(0, 0, 0 / 89%) !important;
}

.my-input input{
    text-transform: uppercase
}

  .slide-fade-enter-active {
    transition: all 1s ease;
  }

//   .slide-fade-leave-active {
//     transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
//   }
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
 opacity: 0;
 }
 #nprogress .bar {
    background: red !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px red, 0 0 5px red !important;
}

#nprogress .spinner-icon {
    border-top-color: red !important;
    border-left-color: red !important;
}