<template>
    <div>
        <div class="w-full shadow-md border">
            <div class="px-4 py-1 border-b-2 border-blue-100 bg-blue-500">
                     <span class="flex text-base font-semibold text-white"> UPDATE ATTACHMENTS </span>
                     <span class="flex text-xs text-gray-200"> After editing the Attachments, Submit the request again </span>
             </div>
             <div class="flex flex-col md:flex-row lg:flex-row gap-2 px-2 py-2">
                <div class="container border border-gray-200 rounded-md shadow-md">
                      <div class="container px-4 py-1 border-b-2 border-gray-200 ">
                        <span class="flex text-base font-semibold"> Change ID </span>
                        <span class="flex text-xs"> Just upload if you want to change your ID </span>
                      </div>
                      <div class="container px-2 py-4 space-x-2 max-h-80">
                          <b-field class="file is-primary flex-none">
                              <b-upload v-model="$v.form.file.$model" class="file-label" accept="image/png,image/gif,image/jpeg">
                                  <span class="button is-primary text-xs">
                                      <b-icon icon="upload"></b-icon>
                                      <span>Upload</span>
                                  </span>
                              </b-upload>
                          </b-field>

                          <div class="flex-auto">
                              <div v-if="imageBase64!==null">
                                <img :src="imageBase64" class="max-w-7x1 max-h-32 clear-both" />
                                  <p class="text-sm truncate w-52" v-if="form.file">
                                              {{ form.file.name }}
                                  </p>
                              </div>
                                  <p class="text-xs text-red-500" v-if="$v.form.file.$error"> {{ showFileErrorMessage($v.form.file) }} </p>
                          </div>
                      </div>
                </div>

                <div class="container border border-gray-200 rounded-md shadow-md">
                      <div class="container px-4 py-1 border-b-2 border-gray-200 ">
                        <span class="flex text-base font-semibold"> Change Selfie </span>
                        <span class="flex text-xs"> We recommend a 2x2 size Selfie </span>
                      </div>
                      <div class="container px-2 py-4 space-x-2 max-h-80">
                          <b-field class="file is-primary flex-none">
                              <b-upload v-model="$v.form.selfieFile.$model" class="file-label">
                                  <span class="button is-primary text-xs"  >
                                      <b-icon icon="upload"></b-icon>
                                      <span>Upload</span>
                                  </span>
                              </b-upload>
                          </b-field>

                          <div class="flex-auto">
                              <div v-if="selfieImageBase64!==null">
                                <img :src="selfieImageBase64" class="max-w-7x1 max-h-32 clear-both" />
                                  <p class="text-sm truncate w-52" v-if="form.selfieFile">
                                              {{ form.selfieFile.name }}
                                  </p>
                              </div>
                                  <p class="text-xs text-red-500" v-if="$v.form.selfieFile.$error"> {{ showFileErrorMessage($v.form.selfieFile) }} </p>
                          </div>
                      </div>
                </div>

                <div class="container border border-gray-200 rounded-md shadow-md">
                      <div class="container px-4 py-1 border-b-2 border-gray-200 ">
                        <span class="flex text-base font-semibold"> Change Selfie with ID </span>
                        <span class="flex text-xs"> Kindly make sure the info on the ID is clear </span>
                      </div>
                      <div class="container px-2 py-4 space-x-2 max-h-80">
                          <b-field class="selfieWithIdFile is-primary flex-none">
                              <b-upload v-model="$v.form.selfieWithIdFile.$model" class="selfieWithIdFile-label">
                                  <span class="button is-primary text-xs">
                                      <b-icon icon="upload"></b-icon>
                                      <span>Upload</span>
                                  </span>
                              </b-upload>
                          </b-field>

                          <div class="flex-auto">
                              <div v-if="selfieWithIdBase64!==null">
                                <img :src="selfieWithIdBase64" class="max-w-7x1 max-h-32 clear-both" />
                                  <p class="text-sm truncate w-52" v-if="form.selfieWithIdFile">
                                              {{ form.selfieWithIdFile.name }}
                                  </p>
                              </div>
                                  <p class="text-xs text-red-500" v-if="$v.form.selfieWithIdFile.$error"> {{ showFileErrorMessage($v.form.selfieWithIdFile) }} </p>
                          </div>
                      </div>
                </div>
             </div>
             <div class="px-2 py-2">
                <otp-selector :isSMSDisabled="isSMSDisabled" :defaultOtpType="otpType" @doneselect="changeOtpType">

                </otp-selector>
                <b-button @click="confirmProceed" :loading="isLoading" class="text-md font-semibold" type="is-primary" expanded>
                    Update Attachments
                </b-button>
             </div>
        </div>

        <modal name="OTPShow"
        classes="errmodx"
         :focusTrap="true"
         :height="'60%'"
         :width="'80%'"
         :clickToClose="false"
         @closed="closeOTPModal"
         @before-open="openOTPModal"
        >
              <div class="h-full">
                  <div class="header bg-blue-700 p-2">
                      <div class="flex flex-row text-white">
                          <div class="flex-grow text-center font-semibold">CONTACT VERIFICATION</div>
                          <div class="flex-none">
                              <button @click="$modal.hide('OTPShow')">
                                ❌
                              </button>
                          </div>
                      </div>
                  </div>
                  <otp-sender @validotp="proceedRegistration" :hasEmail="false" :mobile_number="currentUser.MobileNumber" :email="currentUser.EmailAddress" :firstname="'Harold'" :lastname="'Calio'" :otpType="selectedOtpType">

                  </otp-sender>
              </div>
        </modal>
    </div>
</template>

<script>
import { maxValue } from 'vuelidate/lib/validators'
import OtpSender from '../OtpSender.vue'
import OtpSelector from '../OtpSelector.vue'
import Swal from 'sweetalert2'
import mixinss from '../../mixins'
export default {

  components: {
    'otp-sender': OtpSender,
    'otp-selector': OtpSelector
  },

  data () {
    return {
      isLoading: false,
      file: null, // use for id
      imageBase64: null, // use for id
      selfieFile: null,
      selfieImageBase64: null,
      selfieWithIdFile: null,
      selfieWithIdBase64: null,
      otpType: null,
      selectedOtpType: null,
      isSMSDisabled: false,
      form: {
        file: null,
        selfieFile: null,
        selfieWithIdFile: null,
        desiredBranch: null,
        desiredMemType: null,
        acceptedObsaAndEverything: null
      }
    }
  },

  mounted () {
    console.log('kinsay nauna?', this.currentUser)
    if (this.currentUser.FKCountryId === 175) {
      this.otpType = 'sms'
    } else {
      this.otpType = 'email'
      this.isSMSDisabled = true
    }
  },

  computed: {
    currentUser: function () {
      return this.$store.state.visitor.currentUser === null ? null : this.$store.state.visitor.currentUser
    }
  },

  watch: {
    'form.file': function (value) {
      console.log(value)
      var reader = new FileReader()
      reader.readAsDataURL(value)
      reader.onloadend = () => {
        this.imageBase64 = reader.result
      }
    },

    'form.selfieFile': function (value) {
      var reader = new FileReader()
      reader.readAsDataURL(value)
      reader.onloadend = () => {
        this.selfieImageBase64 = reader.result
      }
    },

    'form.selfieWithIdFile': function (value) {
      var reader = new FileReader()
      reader.readAsDataURL(value)
      reader.onloadend = () => {
        this.selfieWithIdBase64 = reader.result
      }
    }
  },

  validations: {
    form: {
      file: {
        size: {
          maxValue: maxValue(10485760)
        },
        type: {
          isValid (value) {
            if (typeof (value) === 'undefined') { return true }
            return value === 'image/png' || value === 'image/jpeg'
          }
        }
      },
      selfieFile: {
        size: {
          maxValue: maxValue(10485760)
        },
        type: {
          isValid (value) {
            if (typeof (value) === 'undefined') { return true }
            return value === 'image/png' || value === 'image/jpeg'
          }
        }
      },
      selfieWithIdFile: {
        size: {
          maxValue: maxValue(10485760)
        },
        type: {
          isValid (value) {
            if (typeof (value) === 'undefined') { return true }
            return value === 'image/png' || value === 'image/jpeg'
          }
        }
      }
    }
  },

  methods: {
    changeOtpType (val) {
      this.selectedOtpType = val
    },

    confirmProceed () {
      let vm = this
      Swal.fire({
        title: 'Proceed to Update?',
        text: 'You will be sent an OTP to upon proceeding.',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Proceed to changing Attachments!'
      }).then((result) => {
        if (result.isConfirmed) {
          vm.$v.form.$touch()
          if (vm.$v.$invalid) {
            // this.isLoading = false
            return 0
          }
          vm.$modal.show('OTPShow')
        }
      })
    },

    closeOTPModal () {
      let htmlelement = document.getElementsByTagName('html')
      htmlelement[0].classList.remove('is-clipped')
    },

    openOTPModal () {
      let htmlelement = document.getElementsByTagName('html')
      htmlelement[0].classList.add('is-clipped')
    },

    proceedRegistration () {
      this.$modal.hide('OTPShow')
      this.isLoading = true
      let formData = new FormData()
      let vm = this
      formData.set('entryfiles', this.form.file)
      formData.set('selfie', this.form.selfieFile)
      formData.set('selfieWithId', this.form.selfieWithIdFile)
      this.$axios.post(this.$store.state.visitor.apiEndpoint + `insert/v1/update-profile-attachments`, formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
          'Authorization': localStorage.getItem('accessToken')
        }
      }).then(async (result) => {
        let data = result.data
        try {
          if (data.message === 'ok') {
            await this.$store.dispatch('visitor/resetAttachments', data.attachments)
            vm.isLoading = false
            this.$router.push('/registrant-dashboard/')
          }
        } catch (error) {
          vm.isLoading = false
        }
      }).catch(err => {
        vm.isLoading = false
        throw err
      })
    },

    showFileErrorMessage (theFile) {
      console.log('im the filex', theFile.required)
      if (!theFile.size.maxValue) {
        return 'Invalid file: (Max file size is only 10 MB)'
      } else if (!theFile.type.isValid) {
        return 'Invalid file: Only accepted file types are: .png/.jpg'
      } else if (!theFile.required) {
        return 'This Image is required'
      } else return ''
    }
  },
  mixins: [mixinss]
}
</script>
