<template>
    <b-modal v-model="modalStatus" :width="640" scroll="clip" has-modal-card
            trap-focus
            destroy-on-hide
            @close="closeModal"
        >
            <div class="modal-card">
                <div class="bg-blue-500 p-1 text-white text-center font-semibold">
                    Beneficiary Information
                </div>
                <div class="modal-card-body" style="height:500px;">
                   <div class="flex flex-col h-full">
                      <div class="flex-grow">
                          <div class="flex flex-row w-full space-x-2">
                              <div class="flex-grow space-y-2 w-1/2">
                                  <b-select v-model="form.Gender" placeholder="Salutation" expanded>
                                      <option value="0">Mr.</option>
                                      <option value="1">Ms.</option>
                                  </b-select>
                                  <span v-if="$v.form.Gender.$error" class="text-xs text-red-400">{{setErrorMessage($v.form.Gender)}}</span>

                                  <b-input v-model="form.FirstName" class="" placeholder="Firstname"></b-input>
                                  <span v-if="$v.form.FirstName.$error" class="text-xs text-red-400">{{setErrorMessage($v.form.FirstName)}}</span>

                                  <b-input v-model="form.MiddleName" class="" placeholder="Middlename"></b-input>

                                  <b-input v-model="form.LastName" class="" placeholder="Lastname"></b-input>
                                  <span v-if="$v.form.LastName.$error" class="text-xs text-red-400">{{setErrorMessage($v.form.LastName)}}</span>
                              </div>
                              <div class="flex-grow space-y-2 w-1/2">
                                  <b-datepicker
                                      v-model="form.Birthdate"
                                      placeholder="Birthday mm/dd/yyyy"
                                      icon="calendar"
                                      editable>
                                  </b-datepicker>
                                  <span v-if="$v.form.Birthdate.$error" class="text-xs text-red-400">{{setErrorMessage($v.form.Birthdate)}}</span>

                                  <b-select v-model="form.Relationship" placeholder="Relationship to Beneficiary" expanded>
                                      <option v-for="row in beneficiaryFinalFields.relationshipList" :key="row.CodeID" :value="row.CodeID">{{row.CodeValue}}</option>
                                  </b-select>
                                  <span v-if="$v.form.Relationship.$error" class="text-xs text-red-400">{{setErrorMessage($v.form.Relationship)}}</span>

                                  <b-select v-model="form.CivilStatus" placeholder="Civil Status" expanded>
                                      <option v-for="row in beneficiaryFinalFields.civilstatusList" :key="row.CivilStatusID" :value="row.CivilStatusID">{{row.CivilStatusName}}</option>
                                  </b-select>
                                  <span v-if="$v.form.CivilStatus.$error" class="text-xs text-red-400">{{setErrorMessage($v.form.CivilStatus)}}</span>
                                  <b-input v-model="form.ContactNo" class="" placeholder="Contact No."></b-input>
                              </div>
                          </div>
                      </div>
                      <div>
                        <b-button type="is-success" @click="acceptBeneficiary">Accept</b-button>
                      </div>
                   </div>
                </div>
            </div>
        </b-modal>
</template>

<script>
import { required, maxValue } from 'vuelidate/lib/validators'
import mixinss from '../../mixins'

export default {
  props: ['beneficiaryModalActive', 'beneficiaryFields'],
  data () {
    return {
      form: {
        FirstName: null,
        MiddleName: null,
        LastName: null,
        Birthdate: null,
        Gender: null,
        ContactNo: null,
        Relationship: null,
        CivilStatus: null
      }
    }
  },

  computed: {
    modalStatus: {
      get () {
        return this.beneficiaryModalActive
      },
      set (newVal) {
        return newVal
      }
    },

    beneficiaryFinalFields: {
      get () {
        return this.beneficiaryFields
      },

      set (newVal) {
        return newVal
      }
    }
  },

  validations: {
    form: {
      FirstName: {
        required
      },
      LastName: {
        required
      },
      Birthdate: {
        required,
        maxValue: maxValue(Date.now())
      },
      Gender: {
        required
      },
      Relationship: {
        required
      },
      CivilStatus: {
        required
      }
    }
  },

  methods: {
    closeModal (value = null) {
      this.form = {
        FirstName: null,
        MiddleName: null,
        LastName: null,
        Birthdate: null,
        Gender: null,
        ContactNo: null,
        Relationship: null,
        CivilStatus: null
      }
      this.$v.$reset()
      this.$emit('closeModal', value)
    },

    acceptBeneficiary () {
      this.$v.form.$touch()
      if (!this.$v.$invalid) {
        this.closeModal(Object.assign({}, this.form))
      }
    }
  },
  mixins: [mixinss]
}
</script>
