<template>
    <section>
        <section v-if="regStatus==='MSSVERIFICATION'">
          <div class="grid grid-cols-12">
                <!-- <div class="col-span-12 md:col-span-2"></div> -->
                <div class="col-span-12 md:col-span-4 p-5 lg:mt-20">
                  <div class="md:max-h-24 lg:max-h-80">
                      <img src="img/icons/welcome.svg" class="mb-4"/>
                      <i>Hi <strong>Harold</strong>, thank you for your interest in applying.
                        We just need you to upload some of your ID's and selfies. Please, feel free
                        to choose your branch.</i>
                  </div>
                </div>
                <div class="col-span-12 md:col-span-8 lg:mt-10 px-5 py-5 text-left space-y-10">
                  <div class="flex flex-col md:flex-row lg:flex-row gap-4">
                    <div class="flex-grow">
                      <b-field class="small-size" label="Desired Branch"
                        :type="$v.form.desiredBranch.$error ? 'is-danger' : ''"
                        :message="setErrorMessage($v.form.desiredBranch)"
                      >
                          <b-select v-model="form.desiredBranch" placeholder="Select Desired Branch" expanded>
                              <option v-for="type in availableBranches" :key="type.CodeID" :value="type.CodeID">{{type.CodeValue}}</option>
                          </b-select>
                      </b-field>
                    </div>
                    <div class="flex-grow">
                       <b-field class="small-size" label="Desired Mem. Type"
                          :type="$v.form.desiredMemType.$error ? 'is-danger' : ''"
                          :message="setErrorMessage($v.form.desiredMemType)"
                        >
                            <b-select v-model="form.desiredMemType" placeholder="Select Desired Mem. Type" expanded>
                                <option v-for="type in availableMemTypes" :key="type.CodeID" :value="type.memcode">{{type.memlabel}}</option>
                            </b-select>
                        </b-field>
                    </div>
                  </div>
                     <!--start-->
                  <div class="flex flex-col md:flex-row lg:flex-row gap-2">
                    <div class="container border border-gray-200 rounded-md shadow-md">
                      <div class="container px-4 py-1 border-b-2 border-gray-200 ">
                        <span class="flex text-base font-semibold"> Upload ID </span>
                        <span class="flex text-xs"> Just upload one of the IDs </span>
                      </div>
                      <div class="container px-2 py-4 space-x-2 max-h-80">
                          <b-field class="file is-primary flex-none">
                              <b-upload v-model="$v.form.file.$model" class="file-label" accept="image/png,image/gif,image/jpeg">
                                  <span class="button is-primary text-xs">
                                      <b-icon icon="upload"></b-icon>
                                      <span>Upload</span>
                                  </span>
                              </b-upload>
                          </b-field>

                          <div class="flex-auto">
                              <div v-if="imageBase64!==null">
                                <img :src="imageBase64" class="max-w-7x1 max-h-32 clear-both" />
                                  <p class="text-sm truncate w-52" v-if="form.file">
                                              {{ form.file.name }}
                                  </p>
                              </div>
                                  <p class="text-xs text-red-500" v-if="$v.form.file.$error"> {{ showFileErrorMessage($v.form.file) }} </p>
                          </div>
                      </div>
                    </div>
                    <!--end-->

                    <div class="container border border-gray-200 rounded-md shadow-md">
                      <div class="container px-4 py-1 border-b-2 border-gray-200 ">
                        <span class="flex text-base font-semibold"> Upload Selfie </span>
                        <span class="flex text-xs"> We recommend a 2x2 size Selfie </span>
                      </div>
                      <div class="container px-2 py-4 space-x-2 max-h-80">
                          <b-field class="file is-primary flex-none">
                              <b-upload v-model="$v.form.selfieFile.$model" class="file-label">
                                  <span class="button is-primary text-xs"  >
                                      <b-icon icon="upload"></b-icon>
                                      <span>Upload</span>
                                  </span>
                              </b-upload>
                          </b-field>

                          <div class="flex-auto">
                              <div v-if="selfieImageBase64!==null">
                                <img :src="selfieImageBase64" class="max-w-7x1 max-h-32 clear-both" />
                                  <p class="text-sm truncate w-52" v-if="form.selfieFile">
                                              {{ form.selfieFile.name }}
                                  </p>
                              </div>
                                  <p class="text-xs text-red-500" v-if="$v.form.selfieFile.$error"> {{ showFileErrorMessage($v.form.selfieFile) }} </p>
                          </div>
                      </div>
                    </div>

                    <div class="container border border-gray-200 rounded-md shadow-md">
                      <div class="container px-4 py-1 border-b-2 border-gray-200 ">
                        <span class="flex text-base font-semibold"> Upload Selfie with ID </span>
                        <span class="flex text-xs"> Kindly make sure the info on the ID is clear </span>
                      </div>
                      <div class="container px-2 py-4 space-x-2 max-h-80">
                          <b-field class="selfieWithIdFile is-primary flex-none">
                              <b-upload v-model="$v.form.selfieWithIdFile.$model" class="selfieWithIdFile-label">
                                  <span class="button is-primary text-xs">
                                      <b-icon icon="upload"></b-icon>
                                      <span>Upload</span>
                                  </span>
                              </b-upload>
                          </b-field>

                          <div class="flex-auto">
                              <div v-if="selfieWithIdBase64!==null">
                                <img :src="selfieWithIdBase64" class="max-w-7x1 max-h-32 clear-both" />
                                  <p class="text-sm truncate w-52" v-if="form.selfieWithIdFile">
                                              {{ form.selfieWithIdFile.name }}
                                  </p>
                              </div>
                                  <p class="text-xs text-red-500" v-if="$v.form.selfieWithIdFile.$error"> {{ showFileErrorMessage($v.form.selfieWithIdFile) }} </p>
                          </div>
                      </div>
                    </div>
                  </div>
                    <otp-selector :isSMSDisabled="isSMSDisabled" :defaultOtpType="otpType" @doneselect="changeOtpType">

                    </otp-selector>
                    <!-- <b-field class="file is-primary">
                        <b-button @click="isOBSAModalShow=true" icon-left="upload" type="is-primary">View OBSA</b-button>
                    </b-field> -->

                    <div class="w-full">
                        <b-checkbox @input="acceptObsa" v-model="form.acceptedObsaAndEverything"><strong>I have read and agreed the stipulated OBSA and everything else that</strong></b-checkbox>
                    </div>

                    <div class="text-center w-full" v-if="form.acceptedObsaAndEverything">
                      <b-button @click="confirmProceed" :loading="isLoading" class="text-md font-semibold" type="is-primary" expanded><span class="tracking-widest">FILE &nbsp; FOR &nbsp; MEMBERSHIP</span></b-button>
                    </div>

            </div>
          </div>
        <!-- <div class="grid grid-cols-12">
            <div class="col-span-12 md:col-span-4 ">
                     <div class="left-0 top-0"> Campaigns go here </div>
            </div>
        </div> -->

        <b-modal
            v-model="isOBSAModalShow"
            has-modal-card
            trap-focus
            full-screen
            :width="1200"
            :destroy-on-hide="false"
            aria-role="dialog"
            aria-label="Example Modal"
            aria-modal
            >
            <pdf-viewer @closeModal="isOBSAModalShow=false" @acceptObsa="appendedRequirements.acceptedObsaAndEverything = true; isOBSAModalShow=false">

            </pdf-viewer>
        </b-modal>

      </section>

      <!--this section here is when the registration status is PENDING on MSS Approval -->
      <section v-else-if="regStatus==='MSSPENDING'">
         <div>
            <div class="grid grid-cols-12 md:pt-10 lg:pt-20">
              <div class="col-span-2"></div>
                <div class="col-span-12 md:col-span-3">
                  <img src="img/icons/waiting.svg" style="height:20em;"/>
                </div>
                <div class="col-span-10 md:col-span-6 p-5 md:mt-10 lg:mt-15" style="">
                    <div class="text-5xl font-bold flex justify-center;">
                        Thank you for filing for Membership!
                    </div>
                    <div class="flex justify-evenly; mt-10">
                      Hi Harold, Our staff are currently reviewing your membership registration.
                    </div>
                    <div class="flex justify-evenly;">
                      Please wait for a while and we will surely email or text you with the update.
                    </div>
                </div>
            </div>
         </div>
      </section>

      <section v-else-if="regStatus==='PAYMENTPENDING'">
        <div>
           <transition name="fadeaway" v-on:after-leave="showPaymentMethodFinal=true">
              <div v-if="!showPaymentMethod" class="grid grid-cols-12 md:pt-10 lg:pt-10">
                    <div class="col-span-2"></div>
                        <div class="col-span-12 md:col-span-3">
                          <img src="img/icons/verified.svg" style="height:20em;"/>
                        </div>
                      <div class="col-span-10 md:col-span-6 p-5 md:mt-10 lg:mt-5" style="">
                            <div class="text-5xl font-bold flex justify-center;">
                                Yehey! Verified na imong Account.
                            </div>
                            <div class="flex justify-evenly; mt-10">
                              Now, all you need to do is to proceed with the payment
                            </div>
                            <div class="flex justify-evenly;">
                              Mangyari lamang po na pindutin ang button sa ibaba upang makapagpatuloy sa pagbayad.
                            </div>
                            <div class="buttons mt-5">
                              <b-button @click="showPaymentMethod=true" type="is-primary" expanded>Magbayad</b-button>
                              <!-- <payment-methods>
                              </payment-methods> -->
                            </div>
                      </div>
                  </div>
           </transition>

           <transition name=fadeaway>
              <payment-methods v-if="showPaymentMethodFinal">
              </payment-methods>
           </transition>
        </div>
      </section>

      <section v-else-if="regStatus==='MSSPAYMENTVERIFIED'">
         <div>
            <div class="grid grid-cols-12 md:pt-10 lg:pt-20">
              <div class="col-span-2"></div>
                <div class="col-span-12 md:col-span-3">
                  <img src="img/icons/validation.svg" style="height: 25em;"/>
                </div>
                <div class="col-span-10 md:col-span-6 p-5 md:mt-10 lg:mt-15">
                    <div class="text-5xl font-bold flex justify-center;">
                        For finality, the team will validate your payment transaction!
                    </div>
                    <div class="flex justify-evenly; mt-10">
                      Pagkatapos na ma validate ang iyong pagbayad, maari mo ng magamit ang ating facility.
                    </div>
                    <div class="flex justify-evenly;">
                      <p>Maraming salamat sa iyong interes sa pag apply. <strong>Salamat sa Pagsalig!</strong></p>
                    </div>
                </div>
            </div>
         </div>
      </section>

      <section v-else-if="regStatus==='MSSDENIED'">
        <div>
            <div class="grid grid-cols-12 md:pt-10 lg:pt-20">
              <div class="col-span-2"></div>
                <div class="col-span-12 md:col-span-3">
                  <img src="img/icons/denied.svg" style="height: 25em;"/>
                </div>
                <div class="col-span-12 md:col-span-6 p-5 md:mt-10 lg:mt-15">
                    <div class="text-5xl font-bold flex justify-center;">
                        Your Registration was denied!
                    </div>
                    <div class="flex justify-evenly; mt-5"><strong>Please consider checking of the following reason/s of revocation:</strong></div>
                    <div class="flex justify-evenly; mt-10">
                      <p><b-icon icon="exclamation-triangle" size="is-small"/> {{regRemarks}} </p>
                    </div>
                    <div class="flex justify-evenly; mt-5">
                      <p>You may do corrections with your application by clicking the button below</p>
                    </div>
                    <div class="buttons mt-5">
                        <b-button type="is-primary" expanded @click="confirmUpdateApplication">Review Applications</b-button>
                    </div>
                </div>
            </div>
         </div>
      </section>

      <section v-else-if="regStatus==='ACTGPAYMENTVERIFIED'">
          <div>
            <div class="grid grid-cols-12 md:pt-10 lg:pt-20">
              <div class="col-span-2"></div>
                <div class="col-span-12 md:col-span-3">
                  <img src="img/icons/denied.svg" style="height: 25em;"/>
                </div>
                <div class="col-span-12 md:col-span-6 p-5 md:mt-10 lg:mt-15">
                    <div class="text-5xl text-green-800 font-bold flex justify-center;">
                        Your Payment was Successful!
                    </div>
                    <div class="flex justify-evenly; mt-5"><strong>A notification will be sent to you shortly confirming that you are now a member of Tagum Cooperative. Yey!</strong></div>
                </div>
            </div>
         </div>
      </section>

      <section v-else>
          Loading...
      </section>

      <modal name="OTPShow"
        classes="errmodx"
         :focusTrap="true"
         :height="'60%'"
         :width="'80%'"
         :clickToClose="false"
         @closed="closeOTPModal"
         @before-open="openOTPModal"
        >
              <div class="h-full">
                  <div class="header bg-blue-700 p-2">
                      <div class="flex flex-row text-white">
                          <div class="flex-grow text-center font-semibold">CONTACT VERIFICATION</div>
                          <div class="flex-none">
                              <button @click="$modal.hide('OTPShow')">
                                ❌
                              </button>
                          </div>
                      </div>
                  </div>
                  <otp-sender @validotp="proceedRegistration" :hasEmail="false" :mobile_number="clientMobileNumber" :email="userEmailAddress" :firstname="userFirstname" :lastname="userLastname" :otpType="selectedOtpType">

                  </otp-sender>
              </div>
        </modal>

      <b-loading :is-full-page="true" v-model="isLoading" :can-cancel="false"></b-loading>
    </section>
</template>

<script>

import PdfViewer from '../PdfViewer.vue'
import PaymentMethods from '../../views/PaymentMethods'
import { required, maxValue } from 'vuelidate/lib/validators'
import OtpSender from '../../components/OtpSender.vue'
import OtpSelector from '../../components/OtpSelector.vue'
import mixinss from '../../mixins'
import Swal from 'sweetalert2'

export default {
  components: {
    'pdf-viewer': PdfViewer,
    'payment-methods': PaymentMethods,
    'otp-sender': OtpSender,
    'otp-selector': OtpSelector
  },
  data () {
    return {
      isSMSDisabled: false,
      otpType: null,
      selectedOtpType: null,
      showPaymentMethod: false,
      showPaymentMethodFinal: false,
      file: null, // use for id
      imageBase64: null, // use for id
      selfieFile: null,
      selfieImageBase64: null,
      selfieWithIdFile: null,
      selfieWithIdBase64: null,
      isOBSAModalShow: false,
      isLoading: false,
      form: {
        file: null,
        selfieFile: null,
        selfieWithIdFile: null,
        desiredBranch: null,
        desiredMemType: null,
        acceptedObsaAndEverything: null
      },
      appendedRequirements: {
        desiredBranch: null,
        desiredMemType: null,
        acceptedObsaAndEverything: false
      },
      availableBranches: [
        {
          CodeID: '001',
          CodeValue: 'MAIN'
        },
        {
          CodeID: '002',
          CodeValue: 'NABUN'
        },
        {
          CodeID: '003',
          CodeValue: 'CARMEN'
        },
        {
          CodeID: '004',
          CodeValue: 'BAJADA'
        }
      ],
      availableMemTypes: [
        {
          memcode: '11',
          memlabel: 'Associate - OM'
        }
      ]
    }
  },

  computed: {
    regStatus: function () {
      return this.$store.state.visitor.currentUser === null ? '' : this.$store.state.visitor.currentUser.RegistrationStatus
    },
    regRemarks: function () {
      return this.$store.state.visitor.currentUser === null ? '' : this.$store.state.visitor.currentUser.RegistrationRemarks
    },
    userFirstname: function () {
      return this.$store.state.visitor.currentUser === null ? '' : this.$store.state.visitor.currentUser.FirstName
    },
    userLastname: function () {
      return this.$store.state.visitor.currentUser === null ? '' : this.$store.state.visitor.currentUser.LastName
    },
    userEmailAddress: function () {
      return this.$store.state.visitor.currentUser === null ? '' : this.$store.state.visitor.currentUser.EmailAddress
    },
    countryLocation: function () {
      return this.$store.state.visitor.currentUser === null ? 175 : this.$store.state.visitor.currentUser.FKCountryId
    },
    clientMobileNumber: function () {
      return this.$store.state.visitor.currentUser === null ? '' : this.$store.state.visitor.currentUser.MobileNumber
    }
  },

  mounted () {
    if (this.countryLocation === 175) {
      this.otpType = 'sms'
    } else {
      this.otpType = 'email'
      this.isSMSDisabled = true
    }
  },

  validations: {
    otpType: {
      required
    },
    form: {
      desiredBranch: {
        required
      },
      desiredMemType: {
        required
      },
      acceptedObsaAndEverything: {
        required
      },
      file: {
        size: {
          maxValue: maxValue(10485760)
        },
        type: {
          isValid (value) {
            return value === 'image/png' || value === 'image/jpeg'
          }
        }
      },
      selfieFile: {
        size: {
          maxValue: maxValue(10485760)
        },
        type: {
          isValid (value) {
            return value === 'image/png' || value === 'image/jpeg'
          }
        }
      },
      selfieWithIdFile: {
        size: {
          maxValue: maxValue(10485760)
        },
        type: {
          isValid (value) {
            return value === 'image/png' || value === 'image/jpeg'
          }
        }
      }
    }
  },
  watch: {
    'form.file': function (value) {
      console.log(value)
      var reader = new FileReader()
      reader.readAsDataURL(value)
      reader.onloadend = () => {
        this.imageBase64 = reader.result
      }
    },

    'form.selfieFile': function (value) {
      var reader = new FileReader()
      reader.readAsDataURL(value)
      reader.onloadend = () => {
        this.selfieImageBase64 = reader.result
      }
    },

    'form.selfieWithIdFile': function (value) {
      var reader = new FileReader()
      reader.readAsDataURL(value)
      reader.onloadend = () => {
        this.selfieWithIdBase64 = reader.result
      }
    }
  },

  methods: {

    showFileErrorMessage (theFile) {
      console.log('im the filex', theFile.required)
      if (!theFile.size.maxValue) {
        return 'Invalid file: (Max file size is only 10 MB)'
      } else if (!theFile.type.isValid) {
        return 'Invalid file: Only accepted file types are: .png/.jpg'
      } else if (!theFile.required) {
        return 'This Image is required'
      } else return ''
    },

    imageuploaded (res) {
      if (res.errcode === 0) {
        this.src = 'http://img1.vued.vanthink.cn/vued751d13a9cb5376b89cb6719e86f591f3.png'
      }
    },
    acceptObsa () {
      let vm = this
      this.$nextTick(() => {
        vm.appendedRequirements.acceptedObsaAndEverything = false
        vm.isOBSAModalShow = true
      })
      // this.appendedRequirements.acceptedObsaAndEverything = false
    },

    closeOTPModal () {
      let htmlelement = document.getElementsByTagName('html')
      htmlelement[0].classList.remove('is-clipped')
    },

    openOTPModal () {
      let htmlelement = document.getElementsByTagName('html')
      htmlelement[0].classList.add('is-clipped')
    },

    confirmUpdateApplication () {
      let vm = this
      Swal.fire({
        title: 'Re-submit Application?',
        text: 'Please make sure you have done the necessary changes on your profile before proceeding.',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, I made sure.'
      }).then((result) => {
        if (result.isConfirmed) {
          this.$axios.post(this.$store.state.visitor.apiEndpoint + `insert/v1/resubmit-application`, {}, {
            headers: {
              'Authorization': localStorage.getItem('accessToken')
            }
          }).then(async (res) => {
            console.log(res.data)
            await vm.$store.dispatch('visitor/setNewRegStatus', 'MSSPENDING')
          })
        }
      })
    },

    confirmProceed () {
      let vm = this
      Swal.fire({
        title: 'Proceed to Registration?',
        text: 'You will be sent an OTP to upon proceeding.',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, I confirm.'
      }).then((result) => {
        if (result.isConfirmed) {
          vm.$v.form.$touch()
          if (vm.$v.$invalid) {
            // this.isLoading = false
            return 0
          }
          vm.$modal.show('OTPShow')
        }
      })
    },

    proceedRegistration () {
      // this.regStatus = 'MSSPENDING'
      this.$modal.hide('OTPShow')
      this.isLoading = true
      let formData = new FormData()
      let consol = {
        desiredMemType: this.form.desiredMemType,
        desiredBranch: this.form.desiredBranch,
        acceptedObsaAndEverything: this.form.acceptedObsaAndEverything
      }

      formData.set('entry', JSON.stringify(consol))
      formData.set('entryfiles', this.form.file, this.form.file.name)
      formData.set('selfie', this.form.selfieFile, this.form.selfieFile.name)
      formData.set('selfieWithId', this.form.selfieWithIdFile, this.form.selfieWithIdFile.name)
      let vm = this
      this.$axios.post(this.$store.state.visitor.apiEndpoint + `insert/v1/insert-finalpart-registration`, formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
          'Authorization': localStorage.getItem('accessToken')
        }
      }).then(async (result) => {
        console.log('response is: ', result.data)
        vm.isLoading = false
        await vm.$store.dispatch('visitor/setNewRegStatus', 'MSSPENDING')
      }).catch(err => {
        vm.isLoading = false
        throw err
      })
    },

    changeOtpType (val) {
      this.selectedOtpType = val
    }
  },
  mixins: [mixinss]
}
</script>

<style type="text/css">
.fadeaway-enter-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fadeaway-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fadeaway-enter, .fadeaway-leave-to
{
  transform: translateX(10px);
  opacity: 0;
}
</style>
