<template>
    <section>
        <div class="w-full shadow-md border">
            <div class="px-4 py-1 border-b-2 border-blue-100 bg-blue-300">
                     <span class="flex text-base font-semibold"> MEMBERSHIP REGISTRATION </span>
                     <span class="flex text-xs"> PENDING FOR MSS APPROVAL </span>
             </div>
             <div class="px-2 py-4 flex space-x-2 bg-gray-50">
                 <div class="flex w-full">
                     <div class="flex-grow w-7/12 p-2">
                     <div v-if="untrackedRegistration>0" class="float-left flex space-x-1" style="height:30px;">
                            <b-taglist attached class="animate-pulse">
                                <b-tag type="is-dark">New Untracked Registrants</b-tag>
                                <b-tag type="is-success">{{untrackedRegistration}}</b-tag>
                            </b-taglist>
                            <b-button size="is-small" icon-right="redo-alt" @click="reloadPage"></b-button>
                      </div>
                        <div class="float-right mb-2">
                            <b-input placeholder="Search..."
                                size="is-small"
                                icon="search">
                            </b-input>
                        </div>
                        <table border="1" class="w-full">
                        <thead>
                            <tr class="text-center bg-blue-400">
                            <th v-if="screenWidth>640" class="text-sm border border-gray-500 w-16">REG. ID</th>
                            <th class="text-sm border border-gray-500">NAME</th>
                            <th v-if="screenWidth>640" class="text-sm border border-gray-500 w-80">DATE REQ.</th>
                            <th v-if="screenWidth>640" class="text-sm border border-gray-500 w-40">EMAIL</th>
                            <th v-if="screenWidth>640" class="text-sm border border-gray-500 w-20">MOBILE NO.</th>
                            <th class="text-sm border border-gray-500 w-40">OPTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in data" :key="row.RegID" class="text-center hover:bg-blue-200">
                                <td v-if="screenWidth>640" class="border border-gray-400 py-1 text-xs align-middle">{{row.RegID}}</td>
                                <td class="border border-gray-400 py-1 text-xs align-middle">{{row.Name}}</td>
                                <td v-if="screenWidth>640" class="border border-gray-400 p-2 text-xs align-middle">{{row.DateReq | filterDateWithTime}}
                                  <b-message v-if="row._ORProfileStatusLogs.length" size="is-small" class="mt-4 text-left">
                                      <ul>
                                        <li v-for="xrow in row._ORProfileStatusLogs" :key="xrow.Id">{{xrow.StatusType}} by Harold on {{xrow.createdAt | filterDateWithTime}}: <span class="font-bold">{{xrow.Remarks}}</span></li>
                                      </ul>
                                  </b-message>
                                </td>
                                <td v-if="screenWidth>640" class="border border-gray-400 py-1 text-xs align-middle">{{row.Email}}</td>
                                <td v-if="screenWidth>640" class="border border-gray-400 py-1 text-xs align-middle">{{row.MobileNo}}</td>
                                <td class="border border-gray-400 py-1 text-xs space-x-2">
                                    <b-button size="is-small is-primary" @click="initializeRegistrationInfo(row)">Load</b-button>
                                    <b-button size="is-small" @click="showAllRegistrationDetails(row)">Show All</b-button>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                        <div class="float-left px-2">
                            <span class="text-xs">Total Pending: <span class="font-bold">{{totalPending}}</span></span>
                        </div>
                        <div :class="{'float-right': true, 'w-full': screenWidth<=640, 'px-2': true, 'pt-2': true}">
                          <b-pagination
                              :total="totalPending"
                              v-model="current"
                              :range-before="3"
                              :range-after="1"
                              :order="''"
                              :size="'is-small'"
                              :simple="false"
                              :rounded="false"
                              :per-page="4"
                              :icon-prev="'chevron-left'"
                              :icon-next="'chevron-right'"
                              aria-next-label="Next page"
                              aria-previous-label="Previous page"
                              aria-page-label="Page"
                              aria-current-label="Current page"
                              @change="reInitializePage"
                          >
                          </b-pagination>
                        </div>
                    </div>

                    <div class="flex-grow w-16 p-2 border border-blue-400 rounded-md">
                          <div v-if="selectedRegistrant !== null">
                            <span class="text-sm">REG #{{selectedRegistrant.Id}}: {{selectedRegistrant.FirstName}} {{selectedRegistrant.MiddleName}} {{selectedRegistrant.LastName}}</span>
                          <hr class="bg-blue-400 h-0.5 mb-2">
                          <div class="flex flex-row w-full">
                              <div class="flex-grow w-1/2">
                                  <div class="flex flex-col space-y-1">
                                      <span class="text-xs font-semibold">ATTACHED FILES</span>
                                      <div class="w-1/2">
                                          <b-button size="is-small" outlined expanded>ID</b-button>
                                      </div>
                                      <div class="w-1/2">
                                          <b-button size="is-small" outlined expanded>Selfie</b-button>
                                      </div>
                                      <div class="w-1/2">
                                          <b-button size="is-small" outlined expanded>Selfie w/ID</b-button>
                                      </div>
                                      <div class="w-1/2">
                                          <b-button size="is-small" outlined expanded>Signature</b-button>
                                      </div>
                                  </div>
                              </div>
                              <div class="flex-grow w-1/2 space-y-4">
                                  <div class="flex flex-col">
                                      <span class="text-xs font-semibold">Branch: </span>
                                      <span class="text-xs font-bold text-blue-700">SAN FRANCISCO</span>
                                  </div>
                                  <div class="flex flex-col">
                                      <span class="text-xs font-semibold">Mem. Type: </span>
                                      <span class="text-xs font-bold text-blue-700">Associate - OM</span>
                                  </div>
                                  <div class="flex flex-col space-y-1">
                                      <b-checkbox size="is-small" type="is-success">OBSA</b-checkbox>
                                      <b-checkbox size="is-small" type="is-success">ADA</b-checkbox>
                                  </div>
                              </div>
                          </div>

                          <div class="space-y-1">
                            <div class="mt-5 text-sm font-semibold">
                                RECENT PAYMENT ORDER/S
                            </div>
                            <div class="flex flex-row space-x-5">
                                <div class="flex flex-row text-xs">
                                    <div class="bg-green-500 w-3 h-3 rounded-full">
                                    </div>
                                    Pending for Approval
                                </div>
                                <div class="flex flex-row text-xs">
                                    <div class="bg-red-500 w-3 h-3 rounded-full">
                                    </div>
                                    P.O was denied
                                </div>
                            </div>
                            <div>
                                <table border="1" class="w-full">
                                    <thead>
                                        <tr class="text-center bg-green-400">
                                          <th class="text-xs border border-gray-500">ID</th>
                                          <th class="text-xs border border-gray-500">DATE</th>
                                          <th class="text-xs border border-gray-500">AMOUNT</th>
                                          <th class="text-xs border border-gray-500">STATUS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <tr class="text-center" v-for="(row, index) in selectedRegistrant._ORPaymentTransactions" :key="index">
                                        <td class="border border-gray-400 py-1 text-xs align-middle">{{row.Id}}</td>
                                        <td class="border border-gray-400 py-1 text-xs align-middle">{{row.createdAt | filterDateWithTime}}</td>
                                        <td class="border border-gray-400 py-1 text-xs align-middle">{{row.PaymentAmount}}</td>
                                        <td class="border border-gray-400 py-1 text-xs align-middle">
                                            <div class="bg-green-500 w-3 h-3 rounded-full" style="margin:0px auto;">

                                            </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div v-if="selectedRegistrant.RegistrationStatus === 'MSSPAYMENTVERIFIED'" class="flex flex-row mt-2 space-x-2">
                                <div class="flex-grow">
                                    <b-button size="is-small" type="is-success" expanded @click="showGeneratePoModal">GENERATE P.O</b-button>
                                </div>
                                <div class="flex-grow">
                                    <b-button size="is-small" type="is-danger" expanded>DISAPPROVE</b-button>
                                </div>
                            </div>

                            <div v-if="selectedRegistrant.RegistrationStatus === 'MSSPENDING'" class="flex flex-row mt-2 space-x-2">
                                <div class="flex-grow">
                                    <b-button :loading="isLoading" size="is-small" type="is-success" expanded @click="approveProfile">APPROVE PROFILE</b-button>
                                </div>
                                <div class="flex-grow">
                                    <b-button size="is-small" type="is-danger" @click="$modal.show('disapproveProfile')" expanded>DISAPPROVE</b-button>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>

        <modal name="showAll"
          :focusTrap="true"
          :height="'auto'"
          :scrollable="true"
          :width="'90%'"
          :clickToClose="false"
        >
        <div class="h-full">
            <div class="header bg-blue-700 p-2">
                      <div class="flex flex-row text-white">
                          <div class="flex-grow text-left font-semibold">REGISTRATION DETAILS</div>
                          <div class="flex-none">
                              <button @click="$modal.hide('showAll')">
                                ❌
                              </button>
                          </div>
                      </div>
             </div>
             <div class="flex flex-col bg-gray-200" style="height:90%;">
                          <show-all-registration-info :id="selectedShowAll">

                          </show-all-registration-info>
             </div>
        </div>
        </modal>

        <modal name="generatePo"
          :focusTrap="true"
          :height="'auto'"
          :width="'40%'"
          :clickToClose="true"
          @before-open="loadPaymentTransaction"
        >
          <div class="h-full">
              <div class="header bg-blue-700 p-2">
                      <div class="flex flex-row text-white">
                          <div class="flex-grow text-left font-semibold">PAYMENT ORDER</div>
                          <div class="flex-none">
                              <button @click="$modal.hide('generatePo')">
                                ❌
                              </button>
                          </div>
                      </div>
                </div>

                <div class="flex flex-col" style="height:90%;">
                    <div v-if="isLoadingPayment">
                        <div class="text-center">
                          Loading....
                        </div>
                    </div>

                    <div v-else class="p-2 flex-grow">
                      <b-tabs v-model="activeTab" @input="onPaymentProofTabChange">
                            <b-tab-item class="" label="Details">
                              <div class="regheader space-y-2">
                                  <div class="flex flex-row">
                                      <div class="w-20 text-sm font-semibold">
                                        Reg. ID:
                                      </div>
                                      <div class="flex-grow text-sm">
                                          19231
                                      </div>
                                  </div>

                                  <div class="flex flex-row">
                                      <div class="w-20 text-sm font-semibold">
                                        Payee:
                                      </div>
                                      <div class="flex-grow text-sm">
                                          Harold M. Calio
                                      </div>
                                  </div>
                              </div>

                              <div class="details mt-5">
                                  <table border="1" class="w-full">
                                      <thead>
                                        <tr class="text-center bg-blue-400">
                                          <th class="text-xs border border-gray-500">FEE</th>
                                          <th class="text-xs border border-gray-500">NAME</th>
                                          <th class="text-xs border border-gray-500">AMOUNT</th>
                                        </tr>
                                      </thead>
                                          <tbody>
                                            <tr class="text-center" v-for="(row, index) in selectedRegistrantPaymentDetails._ORPaymentBreakdowns" :key="index">
                                              <td class="border border-gray-400 py-1 text-xs align-middle">{{row.FKFeeId}}</td>
                                              <td class="border border-gray-400 py-1 text-xs align-middle">{{row.FeeName}}</td>
                                              <td class="border border-gray-400 py-1 text-xs align-middle">{{row.FeeAmount}}</td>
                                            </tr>
                                            <!-- <tr class="text-center">
                                              <td class="border border-gray-400 py-1 text-xs align-middle">2</td>
                                              <td class="border border-gray-400 py-1 text-xs align-middle">Membership Fee</td>
                                              <td class="border border-gray-400 py-1 text-xs align-middle">25.00</td>
                                            </tr>
                                            <tr class="text-center">
                                              <td class="border border-gray-400 py-1 text-xs align-middle">3</td>
                                              <td class="border border-gray-400 py-1 text-xs align-middle">ATM Card</td>
                                              <td class="border border-gray-400 py-1 text-xs align-middle">1,500.00</td>
                                            </tr> -->
                                            <tr class="text-center">
                                              <td class="border border-gray-400 py-1 text-xs align-middle font-semibold" colspan="2">Total</td>
                                              <td class="border border-gray-400 py-1 text-xs align-middle font-semibold text-green-500"><span class="shadow-md">{{selectedRegistrantPaymentDetails.PaymentAmount}}</span></td>
                                            </tr>
                                          </tbody>
                                  </table>
                                  <span class="text-xs text-green-400 font-bold">*The total amount above is the TOTAL AMOUNT paid by the client.</span>
                              </div>
                            </b-tab-item>

                          <b-tab-item label="Payment Proof">
                              <div class="bg-red-200" style="width:200px;" id="paymentProof">
                                  <img :src="`${apiEndpoint}media/v1/get-asset-for-display-paymentproof/${selectedRegistrantPaymentDetails.PaymentProof}`"/>
                              </div>
                          </b-tab-item>
                      </b-tabs>
                      <div class="px-2">
                          <div class="mb-2 font-semibold">
                            STATUS: FOR PAYMENT
                          </div>
                          <div class="">
                              <b-button expanded type="is-primary" @click="showSwalSample">ACCEPT</b-button>
                          </div>
                      </div>
                  </div>
                </div>
          </div>
        </modal>

        <!-- rejection modal -->
        <modal name="disapproveProfile"
          :focusTrap="true"
          :height="'80%'"
          :width="'40%'"
          :clickToClose="true"
        >
            <div class="h-full">
              <div class="header bg-red-700 p-2">
                        <div class="flex flex-row text-white">
                            <div class="flex-grow text-left font-semibold">DENY REGISTRATION</div>
                                <div class="flex-none">
                                    <button @click="$modal.hide('disapproveProfile')">
                                        ❌
                                    </button>
                                </div>
                        </div>
                    </div>
              <div class="flex flex-col" style="height:90%;">
                <div class="p-2 flex-grow">
                    <div class="details mt-5">
                        <b-field label="Disapproval Message" class="">
                            <b-input v-model="denyMessage" size="is-small" maxlength="300" type="textarea"></b-input>
                        </b-field>
                    </div>
                </div>
                <div class="px-2">
                            <div class="mb-2 font-semibold text-sm">
                                The message you wrote above will be sent to the registrant via SMS/Email, They have to change their profile and attempt to register again.
                            </div>
                            <div class="">
                                  <b-button expanded type="is-danger" @click="showSwalSample">DENY REGISTRATION</b-button>
                            </div>
                        </div>
              </div>
            </div>
        </modal>
        <!-- end of rejection modal -->
        <b-loading :is-full-page="true" v-model="isLoading" :can-cancel="false"></b-loading>
    </section>
</template>

<script>
import filterMixins from '../../filter_mixins'
import ShowAllRegistrationInfo from './ShowAllRegistrationInfo'
import Swal from 'sweetalert2'
import _ from 'lodash'
import ImageZoom from 'js-image-zoom'

export default {

  components: {
    'show-all-registration-info': ShowAllRegistrationInfo
  },
  data () {
    return {
      activeTab: 0,
      denyMessage: '',
      data: [],
      selectedShowAll: null,
      screenWidth: window.innerWidth,
      current: 1,
      selectedOptions: null,
      selectedRegistrant: null,
      selectedRegistrantPaymentDetails: {
        _ORPaymentBreakdowns: [],
        paymentProofImage: null
      },
      untrackedRegistration: 0,
      totalPending: 0,
      selected: null,
      isLoading: false,
      isLoadingPayment: false,
      columns: [
        {
          name: 'id'
          // label: 'REG. ID',
          //  numeric: true
        },
        {
          name: 'name'
          // label: 'NAME'
        },
        {
          name: 'reqdate'
          // label: 'DATE REQ.'
        },
        {
          name: 'email'
          //  label: 'EMAIL'
        },
        {
          name: 'mobileno'
          //  label: 'MOBILE'
        },
        {
          name: 'option'
          //  label: 'OPTIONS'
        }
      ],
      indexDataUrl: {
        'MEPS': 'users/get-new-requests-for-notif',
        'SOHEAD': 'users/get-new-requests-for-notif'
      },
      tableDataUrl: {
        'MEPS': 'membership-registration/v1/or_profile_registrant/MSSPENDING',
        'SOHEAD': 'membership-registration/v1/or_profile_registrant/MSSPAYMENTVERIFIED'
      }
    }
  },

  computed: {
    apiEndpoint: function () {
      return this.$store.state.visitor.apiEndpoint
    }
  },

  created () {
    this.orientationChange()
    this.initializePage()
  },

  mounted () {
    window.addEventListener('resize', this.orientationChange)
  },

  methods: {
    showGeneratePoModal () {
      this.$modal.show('generatePo')
    },

    orientationChange () {
      this.screenWidth = window.innerWidth
    },

    reloadPage () {
      window.location.reload()
    },

    approveProfile () {
      let vm = this
      Swal.fire({
        title: 'Approve Profile',
        text: 'Are you sure you want to Approve the Profile Registration?',
        showCancelButton: true,
        cancelButtonText: 'Cancel',
        icon: 'question',
        confirmButtonText: 'Approve'
      }).then(result => {
        if (result.isConfirmed) {
          this.isLoading = true
          let data = {
            dataInfo: {
              approvalStatus: 'approved',
              recipientName: vm.selectedRegistrant.FirstName,
              mobileNumber: vm.selectedRegistrant.MobileNumber,
              emailAddress: vm.selectedRegistrant.EmailAddress,
              firstName: vm.selectedRegistrant.FirstName,
              message: null,
              country: vm.selectedRegistrant.FKCountryId,
              profileId: vm.selectedRegistrant.Id
            }
          }
          vm.$axios.post(vm.$store.state.visitor.apiEndpoint + 'users/approve-disapprove-registration', data, {
            headers: {
              'Authorization': localStorage.getItem('accessToken')
            }
          }).then(res => {
            vm.isLoading = false
            if (res.data.status) {
              vm.reInitializePage()
              this.$buefy.toast.open({
                duration: 2000,
                message: 'Registration has beendenied',
                position: 'is-top',
                type: 'is-success'
              })
            } else {
              this.$buefy.toast.open({
                duration: 2000,
                message: res.data.message,
                position: 'is-top',
                type: 'is-danger'
              })
            }
          }).catch(err => {
            vm.isLoading = false
            throw err
          })
        }
      })
    },

    showSwalSample () {
      let vm = this
      Swal.fire({
        title: 'Acceptance Confirmation',
        text: 'Are you sure you want to Deny the Registration?',
        showCancelButton: true,
        cancelButtonText: 'Cancel',
        icon: 'question',
        confirmButtonText: 'Proceed'
      }).then(result => {
        if (result.isConfirmed) {
          // start
          this.isLoading = true
          let data = {
            dataInfo: {
              approvalStatus: 'disapproved',
              recipientName: vm.selectedRegistrant.FirstName,
              mobileNumber: vm.selectedRegistrant.MobileNumber,
              emailAddress: vm.selectedRegistrant.EmailAddress,
              firstName: vm.selectedRegistrant.FirstName,
              message: vm.denyMessage,
              country: vm.selectedRegistrant.FKCountryId,
              profileId: vm.selectedRegistrant.Id
            }
          }
          vm.$axios.post(vm.$store.state.visitor.apiEndpoint + 'users/approve-disapprove-registration', data, {
            headers: {
              'Authorization': localStorage.getItem('accessToken')
            }
          }).then(res => {
            vm.isLoading = false
            if (res.data.status) {
              vm.reInitializePage()
              this.$modal.hide('disapproveProfile')
              this.$buefy.toast.open({
                duration: 2000,
                message: 'Registration has been denied',
                position: 'is-top',
                type: 'is-success'
              })
            } else {
              this.$buefy.toast.open({
                duration: 2000,
                message: res.data.message,
                position: 'is-top',
                type: 'is-danger'
              })
            }
          }).catch(err => {
            vm.isLoading = false
            throw err
          })
          // end
        }
      })
    },

    initializePage () {
      let currentUser = this.$store.getters['visitor/getCurrentUser']
      let vm = this
      this.$axios.get(this.$store.state.visitor.apiEndpoint + this.tableDataUrl[currentUser.FKRoleID] + `/${this.current}`).then(resx => {
        vm.data = resx.data.pageRegistrants
        vm.totalPending = resx.data.count
        this.initializeAdminPage()
      })
    },

    enableZoomPaymentProof () {
      setTimeout(function () {
        let zoom = new ImageZoom(document.getElementById('paymentProof'), {
          width: 200,
          zoomWidth: 300,
          offset: { vertical: 5, horizontal: 5 }
        })
        console.log(zoom)
      }, 500)
    },

    reInitializePage () {
      let currentUser = this.$store.getters['visitor/getCurrentUser']
      this.data = []
      this.totalPending = 0
      let vm = this
      this.$axios.get(this.$store.state.visitor.apiEndpoint + this.tableDataUrl[currentUser.FKRoleID] + `/${this.current}`).then(resx => {
        vm.data = resx.data.pageRegistrants
        vm.totalPending = resx.data.count
      }).catch(err => {
        throw err
      })
    },

    initializeAdminPage () {
      let currentUser = this.$store.getters['visitor/getCurrentUser']
      let vm = this
      this.$axios.get(this.$store.state.visitor.apiEndpoint + this.indexDataUrl[currentUser.FKRoleID]).then(resx => {
        console.log(resx.data)
        if (resx.data.status) {
          vm.untrackedRegistration++
        }
        this.initializeAdminPage()
      })
    },

    showAllRegistrationDetails (object) {
      this.selectedShowAll = object
      this.$modal.show('showAll')
    },

    initializeRegistrationInfo (row) {
      let vm = this
      this.$axios.get(this.$store.state.visitor.apiEndpoint + 'membership-registration/v1/get-profile-for-update', {
        params: {
          profileId: row.RegID
        },
        headers: {
          'Authorization': localStorage.getItem('accessToken')
        }
      }).then(result => {
        vm.selectedRegistrant = result.data
      })
    },

    loadPaymentTransaction () {
      this.isLoadingPayment = true
      let vm = this
      let latestPayment = _.find(this.selectedRegistrant._ORPaymentTransactions, function (o) {
        return o.PaymentStatus === 'PENDING'
      })
      this.$axios.get(this.$store.state.visitor.apiEndpoint + 'users/get-one-payment-details?paymentId=' + this.selectedRegistrant.Id, {
        params: {
          paymentId: latestPayment.Id
        },
        headers: {
          'Authorization': localStorage.getItem('accessToken')
        }
      }).then(result => {
        if (result.data) {
          vm.selectedRegistrantPaymentDetails = result.data
          //  this.loadPaymentProof()
        }
        vm.isLoadingPayment = false
      }).catch(err => {
        vm.isLoadingPayment = false
        throw err
      })
    },

    onPaymentProofTabChange (val) {
      if (val === 1) {
        this.enableZoomPaymentProof()
      }
    }
  },
  mixins: [filterMixins]
}
</script>

<style lang="scss">
li a span {
  font-size: 0.75rem;
}
</style>
