<template>
    <div class="h-full w-full bg-gray-200">
        <b-notification v-if="isLoading" class="w-full h-full" :closable="false">
            <b-loading :is-full-page="false" v-model="isLoading" :can-cancel="false"></b-loading>
        </b-notification>

        <div v-else>
            <div class="flex flex-row w-full pr-4">
                <div class="flex-grow w-1/2">
                    <div class="flex flex-row w-full">
                        <div style="width:300px;" class="" id="selfieImage">
                          <img :src="`${apiEndpoint}media/v1/get-asset-for-display/${selfieImage}`" />
                        </div>
                        <div class="flex-grow py-2 px-2">
                            <table>
                                <tr>
                                    <td width="100" class="font-semibold text-sm">Firstname:</td>
                                    <td class="text-sm">{{profileInfo.FirstName}}</td>
                                </tr>
                                <tr>
                                    <td class="font-semibold text-sm">Middlename:</td>
                                    <td class="text-sm">{{profileInfo.MiddleName}}</td>
                                </tr>
                                <tr>
                                    <td class="font-semibold text-sm">Lastname:</td>
                                    <td class="text-sm">{{profileInfo.LastName}}</td>
                                </tr>
                                <tr>
                                    <td class="font-semibold text-sm">Ext. Name:</td>
                                    <td class="text-sm">{{profileInfo.ExtensionName}}</td>
                                </tr>
                                <tr>
                                    <td class="font-semibold text-sm">Birthdate:</td>
                                    <td class="text-sm">{{profileInfo.Birthdate | filterDate}}</td>
                                </tr>
                                <tr>
                                    <td class="font-semibold text-sm">Age:</td>
                                    <td class="text-sm">26</td>
                                </tr>
                                <tr>
                                    <td class="font-semibold text-sm">Gender:</td>
                                    <td class="text-sm">{{profileInfo.FKGenderId == 0 ? 'Male' : 'Female' }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="px-2">
                        <table>
                            <tr height="">
                                <td class="font-semibold text-sm" width="150">Mother's Maiden Name: </td>
                                <td class="text-sm">{{profileInfo.MotherMaidenFirstName}}</td>
                            </tr>
                            <tr height="">
                                <td class="font-semibold text-sm" width="150">Permanent Address: </td>
                                <td class="text-sm">{{formatFullAddress(profileInfo.RoomNo, profileInfo.HouseNo, profileInfo.BldgName, profileInfo.Purok, profileInfo.SubdivisionName, profileInfo.permanentBrgy, profileInfo.permanentCity, profileInfo.permanentProvince)}}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold text-sm">Present Address: </td>
                                <td class="text-sm">{{formatFullAddress(profileInfo.PresentRoomNo, profileInfo.PresentHouseNo, profileInfo.PresentBldgName, profileInfo.PresentPurok, profileInfo.PresentSubdivisionName, profileInfo.presentBrgy, profileInfo.presentCity, profileInfo.presentProvince)}}</td>
                            </tr>
                        </table>
                    </div>
                    ID Image <b-button size="is-small" icon-right="redo-alt" @click="loadZoom('idImage')"></b-button>
                    <div style="width:300px;" class="" id="idImage">
                          <img :src="`${apiEndpoint}media/v1/get-asset-for-display/${idImage}`" />
                    </div>
                    Selfie With ID <b-button size="is-small" icon-right="redo-alt" @click="loadZoom('selfieWithIdImage')"></b-button>
                    <div style="width:300px;" class="" id="selfieWithIdImage">
                          <img :src="`${apiEndpoint}media/v1/get-asset-for-display/${selfieWithIdImage}`" />
                    </div>
                </div>
                <div class="flex-grow w-1/2 pt-2">
                    <div class="z-0">
                        <div class="header bg-green-400 text-sm pl-2 font-bold">
                            ID's
                        </div>
                        <div class="border border-green-400 shadow-lg p-2 h-40">
                            <!-- <b-table
                              style="z-index:-1000;"
                               height="130"
                              :data="profileInfo._IdentificationCards"
                              :bordered="true"
                              :striped="true"
                              :hoverable="true"
                              :sticky-header="true"
                            >
                                <b-table-column field="IdentificationDocument" label="Type" height="15"  v-slot="props">
                                    {{ props.row.IdentificationDocument.CodeValue }}
                                </b-table-column>
                                <b-table-column field="idNumber" label="ID No." height="15"  v-slot="props">
                                    {{ props.row.idNumber }}
                                </b-table-column>
                                <b-table-column field="isUsed" label="Is Used" height="15"  v-slot="props">
                                    {{ props.row.isUsed ? 'Yes' : 'No' }}
                                </b-table-column>
                            </b-table> -->

                            <table border="1" class="w-full">
                                <thead>
                                  <tr class="bg-blue-400 text-left border-2 border-gray-500 text-sm">
                                    <th class="px-2 border-gray-500 border-2">Type</th>
                                    <th class="px-2 border-gray-500 border-2">ID No.</th>
                                    <th class="px-2 border-gray-500 border-2">Is Used</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(row, index) in profileInfo._IdentificationCards" :key="index">
                                      <td class="px-2 border-gray-500 border-2 text-xs py-2">{{row.IdentificationDocument.CodeValue}}</td>
                                      <td class="px-2 border-gray-500 border-2 text-xs py-2">{{row.idNumber}}</td>
                                      <td class="px-2 border-gray-500 border-2 text-xs py-2">{{row.isUsed ? 'Yes' : 'No'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pt-2">
                      Signature
                      <img :src="`${apiEndpoint}media/v1/get-asset-for-display/${signatureImage}`" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
table tr td {
    height: 30px;
}
</style>

<script>
import _ from 'lodash'
import filterMixins from '../../filter_mixins'
import ImageZoom from 'js-image-zoom'
export default {
  props: ['id'],
  data () {
    return {
      isLoading: true,
      profileInfo: {},
      selfieImage: null,
      signatureImage: null,
      idImage: null,
      selfieWithIdImage: null
    }
  },
  created () {
    console.log('show all details has been created.')
    this.initializeRegistrationInfo(this.id)
  },

  computed: {
    apiEndpoint: function () {
      return this.$store.state.visitor.apiEndpoint
    }
  },

  methods: {
    initializeRegistrationInfo (id) {
      let vm = this
      this.$axios.get(this.$store.state.visitor.apiEndpoint + 'membership-registration/v1/get-profile-for-update', {
        params: {
          profileId: id.RegID
        },
        headers: {
          'Authorization': localStorage.getItem('accessToken')
        }
      }).then(result => {
        vm.profileInfo = result.data
        vm.isLoading = false
        this.loadImages('selfie')
        this.loadImages('signature')
        this.loadImages('ID')
        this.loadImages('selfieWithId')
      })
    },

    loadImages (type) {
      let imgObj = _.find(this.profileInfo._ORProfileAttachments, function (o) {
        return o.fileType === type
      })
      if (type === 'selfie') {
        this.selfieImage = imgObj.fileName
        setTimeout(function () {
          let zoom = new ImageZoom(document.getElementById('selfieImage'), {
            width: 300,
            zoomWidth: 400,
            offset: { vertical: 5, horizontal: 5 }
          })
          console.log(imgObj, zoom)
        }, 500)
      } else if (type === 'signature') {
        this.signatureImage = imgObj.fileName
      } else if (type === 'ID') {
        this.idImage = imgObj.fileName
      } else if (type === 'selfieWithId') {
        this.selfieWithIdImage = imgObj.fileName
      }
      // this.$axios.get(this.$store.state.visitor.apiEndpoint + `media/v1/get-image/profilepic/${imgObj.fileName}`, {
      //   headers: {
      //     'Authorization': localStorage.getItem('accessToken')
      //   },
      //   responseType: 'arraybuffer'
      // }).then(result => {
      //   vm.selfieImage = Buffer.from(result.data, 'binary').toString('base64')

      // })
    },

    loadZoom (id) {
      setTimeout(function () {
        let zoom = new ImageZoom(document.getElementById(id), {
          width: 300,
          zoomWidth: 400,
          offset: { vertical: 5, horizontal: 5 }
        })
        console.log(zoom)
      }, 500)
    }
  },
  mixins: [filterMixins]
}
</script>
