<template>
  <div class="home">

      <div v-if="screenWidth>=768" class="w-full lg:w-full">
            <b-carousel
                @change="showTitle()"
                :interval="4000"
                :progress="progress"
                :progress-type="progressType">
                <b-carousel-item v-for="(carousel, i) in carousels" :key="i">
                    <section class="lg:h-screen h-auto">
                      <div class="position: absolute w-3/4 lg:w-3/5 md:p-5 lg:p-10">
                          <transition name="slide-fade">
                              <p v-if="isShowTitle" class="title text-white md:text-7xl lg:text-8xl" style="text-shadow: 2px 2px #5d5959; font-family: 'Noto Sans JP', sans-serif;">{{carousel.title}}</p>
                          </transition>
                      </div>
                        <img class="object-fill" :src="imageArray[i]"/>
                    </section>
                </b-carousel-item>
            </b-carousel>
              <div class="container w-full lg:w-1/2 mx-auto md:flex lg:flex flex-row lg:-mt-96">
                      <div class="box bg-gray-200 bg-opacity-80 mx-5 my-5 text-left">
                          <p class="text-2xl subpixel-antialiased font-extrabold has-white-shadow-solid text-center truncate">BE A MEMBER NOW!</p>
                          <p class="text-center">And avail our products and services from womb to tomb! And enjoy our promos and events wherein you can win up to 7 Million Pesos!</p>
                        <div class="buttons mt-8 w-56 mx-auto">
                          <b-button type="is-primary" rounded expanded class="text-2xl animate-bounce" @click="navigateToRegistration()">Apply Now!</b-button>
                        </div>
                      </div>
              </div>
      </div>

      <div v-else class="w-full lg:w-full p-5">
          <center>
            <img src="img/icons/register.gif">
            <div class="w-auto mt-5 gap-2">
              <b-carousel
                @change="showTitle()"
                :interval="4000">
                <b-carousel-item v-for="(carousel, i) in carousels" :key="i">
                    <transition name="slide-fade">
                      <p v-if="isShowTitle" class="title text-xl opacity-80 text-center" style="font-family: 'Noto Sans JP', sans-serif;">{{carousel.title}}</p>
                    </transition>
                </b-carousel-item>
              </b-carousel>
              <b-button type="is-primary" class="text-2xl" rounded expanded @click="navigateToRegistration()">Apply Now</b-button>
            </div>
          </center>
      </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import '@/styles/main.scss'

export default {
  name: 'home',
  data () {
    return {
      screenWidth: window.innerWidth,
      isShowTitle: false,
      publicPath: process.env.BASE_URL,
      file: {},
      progress: true,
      progressType: 'is-primary',
      carousels: [
        { title: 'From Womb to Tomb', color: 'grey', isShowTitle: false },
        { title: 'Join TC Now!', color: 'dark', isShowTitle: false },
        { title: 'A lot of benefits to enjoy', color: 'primary', isShowTitle: false },
        { title: 'We care for you', color: 'info', isShowTitle: false },
        { title: 'ACCESS Gold Branded', color: 'info', isShowTitle: false }
      ],
      imageArray: [
        `${this.$store.state.visitor.apiEndpoint}media/v1/get-asset-image/1.jpg`,
        `${this.$store.state.visitor.apiEndpoint}media/v1/get-asset-image/2.jpg`,
        `${this.$store.state.visitor.apiEndpoint}media/v1/get-asset-image/3.jpg`,
        `${this.$store.state.visitor.apiEndpoint}media/v1/get-asset-image/4.jpg`,
        `${this.$store.state.visitor.apiEndpoint}media/v1/get-asset-image/5.jpg`

      ]
    }
  },

  components: {
  //  HelloWorld
  },

  created () {
    this.windowSizeChange()
  },

  mounted () {
    this.showTitle()
    window.addEventListener('resize', this.windowSizeChange)
  },

  methods: {
    navigateToRegistration () {
      this.$router.push({ name: 'registration' })
    },

    windowSizeChange () {
      this.screenWidth = window.innerWidth
      console.log('myWidth', this.screenWidth)
    },

    showTitle () {
      this.isShowTitle = false
      let vm = this
      setTimeout(function () {
        vm.isShowTitle = true
      }, 1000)
    }
  }
}
</script>
