<template>
    <div>
        <div class="grid grid-cols-12">
            <div class="col-span-12 w-full place-self-center p-5">
                <div class="card">
                    <header class="card-header" style="background-color: #3b82f6">
                          <p class="card-header-title" style="color: #ffffff">Payment Order No. 00000123#</p>
                    </header>
                    <div class="flex p-2 flex-col items-center">
                        <div class="w-full md:w-1/2 space-y-2">

                            <div class="px-2 flex flex-col items-center">
                                <table class="border-2 border-gray-500 border-separate rounded-md w-full md:w-1/2">
                                    <thead>
                                        <tr class="border-separate rounded-md">
                                            <th class="border-b-2 border-r-2 border-gray-500 px-2">Charges</th>
                                            <th class="border-b-2 border-gray-500 px-2">Fee</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="value in paymentOrder._ORPaymentOrderDetails" :key="value.Id" class="">
                                          <td class="px-2 border-r-2 border-b-2 border-gray-500">{{value.FeeName}}</td>
                                          <td class="px-2 border-b-2 border-gray-500">{{value.FeeAmount | filterMoney}}</td>
                                        </tr>
                                        <tr class="text-center">
                                          <td colspan="2" class="">
                                            Total: {{paymentOrder.Amount | filterMoney}}
                                          </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <form id="myForm" @submit="submit" name="payFormCcard" method="post" action="https://test.pesopay.com/b2cDemo/eng/payment/payForm.jsp">
                                <table class="w-full">
                                  <tr style="display:none;"><td align="center" colspan="2">Required Parameter ( with UTF-8 Encoding ) for connect to our payment page</td></tr>
                                  <tr style="display:none;"><td align="right">amount:</td><td align="left"><input type="text" name="amount" v-model="pesoPayParams.amount" ></td></tr>
                                  <tr style="display:none;"><td align="right">orderRef:</td><td align="left"><input type="text" name="orderRef" v-model="pesoPayParams.orderRef"></td></tr>
                                  <tr style="display:none;"><td align="right">merchantId:</td><td align="left"><input type="text" name="merchantId" v-model="pesoPayParams.merchantId"> </td></tr>
                                  <tr style="display:none;"><td align="right">currCode:</td><td align="left"><input type="text" name="currCode" v-model="pesoPayParams.currCode" ></td></tr>
                                  <tr style="display:none;"><td align="right">successUrl:</td><td align="left"><input type="text" name="successUrl" v-model="pesoPayParams.successUrl"></td></tr>
                                  <tr style="display:none;"><td align="right">failUrl:</td><td align="left"><input type="text" name="failUrl" v-model="pesoPayParams.failUrl"></td></tr>
                                  <tr style="display:none;"><td align="right">cancelUrl:</td><td align="left"><input type="text" name="cancelUrl" v-model="pesoPayParams.cancelUrl"></td></tr>
                                  <tr style="display:none;"><td align="right">payType:</td><td align="left"><input type="text" name="payType" v-model="pesoPayParams.payType"></td></tr>
                                  <tr style="display:none;"><td align="right">lang:</td><td align="left"><input type="text" name="lang" v-model="pesoPayParams.lang"></td></tr>
                                  <tr style="display:none;"><td align="right">mpsMode:</td><td align="left"><input type="text" name="mpsMode" v-model="pesoPayParams.mpsMode"></td></tr>
                                  <tr style="display:none;"><td align="right">payMethod:</td><td align="left"><input type="text" name="payMethod" v-model="pesoPayParams.paymentMethod"></td></tr>
                                  <tr style="display:none;"><td align="center" colspan="2">Optional Parameter for connect to our payment page</td></tr>
                                  <tr style="display:none;"><td align="right">secureHash:</td><td align="left"><input type="text" name="secureHash" v-model="pesoPayParams.secureHash"></td></tr>
                                  <tr><td colspan="2" align="center">
                                    <div class="flex flex-row">
                                      <div class="overflow-hidden w-32">
                                        <span class="text-xs">Powered by:</span>
                                        <img width="50" src="https://www.bworldonline.com/wp-content/uploads/2021/06/bux_logo2.jpg" />
                                      </div>
                                      <b-button type="is-success" @click="submitForm" expanded>
                                          <span class="font-bold">Pay {{paymentOrder.Amount | filterMoney}} Now</span>
                                      </b-button>
                                    </div>
                                  </td></tr>
                                </table>
                             </form>
                        </div>
                        <!-- <div class="box w-full md:w-1/2">
                          <b-message type="is-success" has-icon>
                              <div class="text-green-700 font-semibold">
                                  PAYMENT ORDER
                              </div>
                              <div class="text-sm text-justify">
                                Powered by <img class="w-14" src="https://www.bworldonline.com/wp-content/uploads/2021/06/bux_logo2.jpg"> <br/>
                              </div>
                              <div class="text-sm">
                                Charges may apply
                              </div>
                              <div class="mt-2">
                                  <b-button size="is-small" type="is-primary" tag="a" :href="checkoutLink" download="harold.pdf" expanded >Proceed to Payment</b-button>
                              </div>
                          </b-message>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <modal name="PaymentMethod"
          :focusTrap="true"
          :height="'auto'"
          :width="'80%'"
          :clickToClose="false"
          :scrollable="true"
        >
          <div class="h-full">
              <div class="header bg-blue-700 p-2">
                      <div class="flex flex-row text-white">
                          <div class="flex-grow text-left font-semibold">PAYMENT DETAILS</div>
                          <div class="flex-none">
                              <button @click="$modal.hide('PaymentMethod')">
                                ❌
                              </button>
                          </div>
                      </div>
                </div>

                <div class="flex flex-col" style="height:90%;">
                    <div class="p-5 flex-grow">
                      <b-field label="P.O No." :label-position="'on-border'">
                           <b-input v-model="$v.poNumber.$model"></b-input>
                      </b-field>
                      <b-field label="Transaction Ref. No." :label-position="'on-border'">
                           <b-input v-model="$v.reference.$model"></b-input>
                      </b-field>
                         <div v-if="$v.reference.$invalid" class="text-sm text-red-400 text-center mb-2 w-full">{{setErrorMessage($v.reference)}}</div>
                      <b-field label="Amount" :label-position="'on-border'">
                            <b-numberinput v-model="$v.amount.$model" step="0.01"></b-numberinput>
                        </b-field>
                         <div v-if="$v.amount.$invalid" class="text-sm text-red-400 text-center w-full">{{setErrorMessage($v.amount)}}</div>
                         <div class="grid grid-cols-1 divide-y-2 divide-gray-300 mt-5">
                            <div></div>
                            <div class="p-3"><p style="text-align:center;"><strong>Upload Proof of Payment</strong></p></div>
                        </div>
                        <div class="grid grid-cols-12 gap-2 mb-5">
                            <div class="col-span-3 md:col-span-3 border-solid border-4 border-gray-600">
                                <img v-if="imageBase64!==null" :src="imageBase64" />
                                <!-- <b-image
                                    src='http://192.168.23.59:3000/images/gcash.png'
                                    responsive
                                >
                                </b-image> -->
                            </div>
                            <div class="col-span-9 md:col-span-9 border-dashed border-4 border-gray-400 p-2">
                                <b-field class="file is-primary" :class="{'has-name': !!file}">
                                    <b-upload v-model="$v.file.$model" class="file-label">
                                        <span class="button is-primary">
                                            <b-icon icon="upload"></b-icon>
                                            <span>Upload</span>
                                        </span>
                                        <span class="file-name" v-if="file">
                                            {{ file.name }}
                                        </span>
                                    </b-upload>
                                </b-field>
                                <!-- <b-button class="w-20 h-14" type="is-primary">Upload</b-button> -->
                            </div>
                            <div v-if="$v.file.$invalid" class="col-span-12 text-sm text-red-400 text-center">{{setErrorMessage($v.file)}}</div>
                        </div>
                        <div class="border-solid border-4 border-gray-200 p-2">
                            <b-collapse :open="false" position="is-bottom" aria-id="contentIdForA11y1">
                                <template #trigger="props">
                                    <a aria-controls="contentIdForA11y1" class="text-green-500">
                                        <b-icon :icon="!props.open ? 'caret-down' : 'caret-up'"></b-icon>
                                        {{ !props.open ? 'View Payment Steps' : 'Hide Payment Steps' }}
                                    </a>
                                </template>
                                <p>
                                   <span v-html="selectedPayment.steps"></span>
                                </p>
                            </b-collapse>
                        </div>
                        <div class="mt-5">
                            <b-button @click="processPaymentUpload" class="w-30 lg:w-40 float-left" type="is-primary" rounded>Proceed</b-button>
                            <b-button class="w-30 lg:w-40 float-right" type="is-primary" @click="isComponentModalActive=false; file=null; imageBase64=null;"  rounded>Cancel</b-button>
                        </div>
                    </div>
                </div>
          </div>
        </modal>
    </div>
</template>

<script>
import _ from 'lodash'
import { required, decimal } from 'vuelidate/lib/validators'
import mixinss from '../mixins'
import filterMixins from '../filter_mixins'
export default {
  components: {
    // ModalForm
  },

  data () {
    return {
      screenWidth: window.innerWidth,
      hasPaymentMade: false,
      file: null, // use for id
      imageBase64: null, // use for id
      amount: '',
      reference: '',
      poNumber: '',
      submitStatus: null,
      selectedPayment: { steps: null },
      data: [
        { 'miscellaneous': 'Membership Fee', 'amount': '150' },
        { 'miscellaneous': 'ID Fee', 'amount': '50' },
        { 'miscellaneous': 'ATM Fee', 'amount': '100' },
        { 'miscellaneous': 'Mortuary', 'amount': '615' },
        { 'miscellaneous': 'Himsug', 'amount': '635' }
      ],
      paymentMethodList: [],
      paymentOrder: {
        _ORPaymentOrderDetails: []
      },
      isComponentModalActive: false,
      formProps: {
        email: '',
        password: ''
      },
      pesoPayParams: {
        merchantId: '',
        amount: '',
        orderRef: '',
        currCode: '',
        successUrl: '',
        failUrl: '',
        cancelUrl: '',
        payType: '',
        lang: '',
        mpsMode: '',
        payMethod: '',
        secureHash: ''
      }
    }
  },

  mounted () {
    this.loadPaymentMethods()
  },

  computed: {
    checkoutLink () {
      return this.$store.state.visitor.currentUser._ORPaymentOrderHeaders[0].CheckoutUrl
    }
  },

  watch: {
    file: function (value) {
      var reader = new FileReader()
      reader.readAsDataURL(value)
      reader.onloadend = () => {
        this.imageBase64 = reader.result
      }
    }
  },

  methods: {
    submitForm () {
      this.$buefy.dialog.confirm({
        message: 'You will be taken to BUX Page. <b>Note</b> that charges may apply upon payment.',
        confirmText: 'Yes, Proceed',
        onConfirm: () => {
          window.location.href = this.checkoutLink
        }
      })
    },
    submit () {
      return true
    },
    openPaymentModal () {
      let htmlelement = document.getElementsByTagName('html')
      htmlelement[0].classList.add('is-clipped')
    },

    loadPaymentMethods () {
      let vm = this
      this.$axios.get(this.$store.state.visitor.apiEndpoint + 'membership-registration/v1/or_payment_method?poId=' + this.$store.state.visitor.currentUser._ORPaymentOrderHeaders[0].Id).then(result => {
        let retval = result.data.paymentMethods
        vm.paymentMethodList = retval
        vm.paymentOrder = result.data.paymentOrder
        vm.pesoPayParams.amount = result.data.paymentOrder.Amount
        vm.pesoPayParams.merchantId = result.data.merchantId
        vm.pesoPayParams.orderRef = result.data.paymentOrder.PONumber
        vm.pesoPayParams.currCode = result.data.currency
        vm.pesoPayParams.successUrl = result.data.successUrl
        vm.pesoPayParams.failUrl = result.data.failUrl
        vm.pesoPayParams.cancelUrl = result.data.cancelUrl
        vm.pesoPayParams.payType = result.data.payType
        vm.pesoPayParams.lang = result.data.lang
        vm.pesoPayParams.mpsMode = result.data.mpsMode
        vm.pesoPayParams.payMethod = result.data.payMethod
        vm.pesoPayParams.secureHash = result.data.secretHash
      })
    },

    selectPayment (selected) {
      for (let x = 0; x < this.paymentMethodList.length; x++) {
        this.paymentMethodList[x].isSelected = false
      }
      selected.isSelected = true
      this.selectedPayment = selected
    },
    processPaymentUpload () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.uploadPayment()
      }
    },
    proceedPayment () {
      if (this.selectedPayment.steps != null) {
        this.$modal.show('PaymentMethod')
      } else {
        this.danger()
      }
    },
    danger () {
      this.$buefy.toast.open({
        duration: 5000,
        message: `Please select your payment method.`,
        type: 'is-danger'
      })
    },

    uploadPayment () {
      let formData = new FormData()
      let consol = {
        amount: this.amount,
        reference: this.reference
      }
      formData.set('entry', JSON.stringify(consol))
      formData.set('paymentproof', this.file, this.file.name)

      this.$axios.post(this.$store.state.visitor.apiEndpoint + `membership-registration/v1/upload-payment-proof`, formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
          'Authorization': localStorage.getItem('accessToken')
        }
      }).then(result => {
        console.log('response is: ', result.data)
      })
    }
  },

  validations: {
    amount: {
      required,
      decimal,
      mustBeEqualToPO (val) {
        let mustAmount = _.sumBy(this.paymentOrder._ORPaymentOrderDetails, function (o) {
          return o.FeeAmount
        })

        return Number(mustAmount) === Number(val)
      }
    },
    file: {
      required
    },
    reference: {
      required
    },
    poNumber: {
      required
    }
  },

  mixins: [mixinss, filterMixins]
}

</script>
