<template>
    <div class="sidebar-page">
        <section class="sidebar-layout">
             <b-sidebar

                :mobile="mobile"
                :expand-on-hover="expandOnHover"
                :fullheight="true"
                type="is-light"
                :open="sidebarOpen"
                :can-cancel="false"
            >
                <div class="p-1">
                    <div class="block text-center py-2">
                        <h5>Ronin TCx</h5>
                        <a @click="$store.dispatch('visitor/toggleShowSideBar', true)"><b-icon
                            icon="backward"
                            size="is-small">
                        </b-icon> </a>
                    </div>
                    <b-menu class="is-custom-mobile">
                        <b-menu-list label="Menu">
                            <b-menu-item active icon="information-outline" @click="navigateRegistrantDashboard" label="Dashboard"></b-menu-item>
                            <b-menu-item  expanded icon="settings" label="Profile Management">
                                <b-menu-item icon="account" @click="navigateProfileUpdate" label="Update Profile"></b-menu-item>
                              <!--  <b-menu-item icon="cellphone-link" label="Devices"></b-menu-item>
                                <b-menu-item icon="cash-multiple" label="Payments" disabled></b-menu-item> -->
                            </b-menu-item>
                            <b-menu-item icon="account" label="My Account">
                                <b-menu-item icon="account-box" label="Account data"></b-menu-item>
                                <b-menu-item icon="home-account" label="Addresses"></b-menu-item>
                            </b-menu-item>
                        </b-menu-list>
                        <b-menu-list>
                            <b-menu-item icon="account" label="Payment Method" @click="navigatePaymentMethods"></b-menu-item>
                        </b-menu-list>
                        <b-menu-list label="Actions">
                            <b-menu-item icon="logout" label="Logout"></b-menu-item>
                        </b-menu-list>
                    </b-menu>
                </div>
            </b-sidebar>

            <div class="p-5 w-full">
                <router-view/>
            </div>
        </section>

    </div>
</template>

<script>

export default {
  data () {
    return {
      expandOnHover: false,
      mobile: '',
      reduce: false
    }
  },

  computed: {
    sidebarOpen () {
      return this.$store.state.visitor.userInteractions.isSidebarOpen
    }
  },

  methods: {
    navigateProfileUpdate () {
      this.$store.dispatch('visitor/toggleShowSideBar', true)
      this.$router.push({ name: 'profile-update', params: 1 })
    },

    navigateRegistrantDashboard () {
      this.$store.dispatch('visitor/toggleShowSideBar', true)
      this.$router.push({ name: 'regDashboard', params: 1 })
    },

    navigatePaymentMethods () {
      this.$store.dispatch('visitor/toggleShowSideBar', true)
      this.$router.push({ name: 'paymentmethods', params: 1 })
    }
  }
}
</script>

<style lang="scss">
.p-1 {
  padding: 1em;
}
.sidebar-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    // min-height: 100vh;
    .sidebar-layout {
        display: flex;
        flex-direction: row;
        min-height: 100%;
        // min-height: 100vh;
    }
}
@media screen and (max-width: 1023px) {
    .b-sidebar {
        .sidebar-content {
            &.is-mini-mobile {
                &:not(.is-mini-expand),
                &.is-mini-expand:not(:hover) {
                    .menu-list {
                        li {
                            a {
                                span:nth-child(2) {
                                    display: none;
                                }
                            }
                            ul {
                                padding-left: 0;
                                li {
                                    a {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                    .menu-label:not(:last-child) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .b-sidebar {
        .sidebar-content {
            &.is-mini {
                &:not(.is-mini-expand),
                &.is-mini-expand:not(:hover) {
                    .menu-list {
                        li {
                            a {
                                span:nth-child(2) {
                                    display: none;
                                }
                            }
                            ul {
                                padding-left: 0;
                                li {
                                    a {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                    .menu-label:not(:last-child) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.is-mini-expand {
    .menu-list a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
</style>
