<template>
    <div>
        <div class="grid grid-cols-12">
                  <div class="col-span-12 md:col-span-12 md:w-full lg:w-4/6 place-self-center px-1 py-5 text-left">
                      <div class="py-8 px-1 rounded-md">

                            <!--start -->
                          <section>
                            <b-steps size="is-small"
                                v-model="activeStep"
                                :animated="isAnimated"
                                :rounded="isRounded"
                                :has-navigation="hasNavigation"
                                :icon-prev="prevIcon"
                                :icon-next="nextIcon"
                                :label-position="labelPosition"
                                :mobile-mode="mobileMode"
                                >
                                <b-step-item step="1" label="Personal Info" :clickable="isStepsClickable">
                                    <h5 class="text-base has-text-centered">Hey bud, tell us who you are</h5>
                                    <div class="space-y-7 " style="margin-top:40px;">
                                        <div class="card pb-5 mt-5">
                                          <header class="card-header" style="background-color: #3298dc">
                                            <p class="card-header-title" style="color: #ffffff">
                                              Personal Information
                                            </p>
                                          </header>
                                              <div class="grid grid-cols-12 gap-2 px-5 py-5">
                                                <div class="col-span-12 md:col-span-6 space-y-5">
                                                  <div class="col-span-12 md:col-span-6 pb-4">
                                                      <b-field label="Salutation"  class="small-size">
                                                          <b-radio v-model="personalInfo.gender"
                                                              name="gender"
                                                              native-value="0"
                                                              class="mt-4 ml-3">
                                                              Mr.
                                                          </b-radio>
                                                          <b-radio v-model="personalInfo.gender"
                                                              name="gender"
                                                              native-value="1"
                                                              class="mt-4 ml-3">
                                                              Ms.
                                                          </b-radio>
                                                      </b-field>
                                                  </div>
                                                  <div class="col-span-12 md:col-span-6 pb-3">
                                                    <b-field label="Firstname" class="small-size"
                                                      :type="$v.personalInfo.firstName.$error ? 'is-danger' : ''"
                                                      :message="setErrorMessage($v.personalInfo.firstName)"
                                                    >
                                                        <b-input v-model="$v.personalInfo.firstName.$model" class="my-input"></b-input>
                                                    </b-field>
                                                  </div>
                                                  <div class="col-span-12 md:col-span-6 pb-3">
                                                    <b-field label="Middlename"  class="small-size"
                                                      :type="$v.personalInfo.middleName.$anyError ? 'is-danger' : ''"
                                                      :message="setErrorMessage($v.personalInfo.middleName)"
                                                    >
                                                            <b-input v-model="$v.personalInfo.middleName.$model" class="my-input"></b-input>
                                                    </b-field>
                                                  </div>
                                                  <div class="col-span-12 md:col-span-6 pb-3">
                                                    <b-field label="Lastname"  class="small-size"
                                                      :type="$v.personalInfo.lastName.$anyError ? 'is-danger' : ''"
                                                      :message="setErrorMessage($v.personalInfo.lastName)"
                                                    >
                                                            <b-input v-model="$v.personalInfo.lastName.$model" class="my-input"></b-input>
                                                    </b-field>
                                                  </div>
                                                  <div class="col-span-12 md:col-span-6 pb-3">
                                                    <b-field class="small-size"
                                                        label="Extension Name">
                                                        <b-select v-model="personalInfo.extensionName" placeholder="Select Source" expanded>
                                                            <option v-for="(type, index) in extensionNameTypes" :key="index" :value="type">{{type}}</option>
                                                        </b-select>
                                                    </b-field>
                                                  </div>
                                                </div>
                                                <div class="col-span-12 md:col-span-6 space-y-5">
                                                  <div class="col-span-12 md:col-span-6 pb-3">
                                                      <b-field label="Birthdate"  class="small-size">
                                                              <b-datepicker
                                                                  v-model="personalInfo.birthday"
                                                                  :show-week-number="false"
                                                                  :locale="'en-US'"
                                                                  placeholder="Click to select..."
                                                                  icon="calendar"
                                                                  trap-focus>
                                                              </b-datepicker>
                                                      </b-field>
                                                  </div>
                                                  <div class="col-span-12 md:col-span-6">
                                                      <b-field label="Age"  class="small-size">
                                                              <b-input :value="getAge" disabled></b-input>
                                                      </b-field>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="px-5 space-y-5">
                                                <b-field class="small-size"
                                                  label="Where did you find us?">
                                                  <b-select v-model="personalInfo.infoSource" placeholder="Select Source" expanded>
                                                      <option v-for="type in infoSources" :key="type.Id" :value="type.Id">{{type.label}}</option>
                                                  </b-select>
                                               </b-field>
                                              <b-field label="Mother's Maiden Name"  class="small-size"
                                                      :type="$v.personalInfo.mothersMaidenName.$anyError ? 'is-danger' : ''"
                                                      :message="setErrorMessage($v.personalInfo.mothersMaidenName)"
                                                    >
                                                            <b-input v-model="$v.personalInfo.mothersMaidenName.$model" class="my-input"></b-input>
                                              </b-field>
                                              <b-field label="Country"  class="small-size" :type="$v.personalInfo.country.$anyError ? 'is-danger' : ''"
                                              :message="setErrorMessage($v.personalInfo.country)"
                                              >
                                                  <auto-complete :apiEndpoint="'membership-registration/v1/test-sequelize/'" :apiEndpointFailSafe="'membership-registration/v1/get-one-country/'" :fieldLabel="'Search Country...'" @doneselect="selectionHasMade">
                                                  </auto-complete>
                                              </b-field>

                                              <b-field label="Nationality"  class="small-size" :type="$v.personalInfo.nationality.$anyError ? 'is-danger' : ''"
                                              :message="setErrorMessage($v.personalInfo.nationality)"
                                              >
                                                  <auto-complete :apiEndpoint="'membership-registration/v1/get-all-nationality/'" :apiEndpointFailSafe="'membership-registration/v1/get-one-nationality/'" :fieldLabel="'Search Nationality...'" @doneselect="selectionNationalityHasMade">
                                                  </auto-complete>
                                              </b-field>

                                              <b-field
                                              :type="$v.personalInfo.birthplace.$anyError ? 'is-danger' : ''"
                                              :message="setErrorMessage($v.personalInfo.birthplace)">
                                                  <b-input placeholder="Birthplace"
                                                      disabled
                                                      expanded
                                                      icon="hospital-user"
                                                      type="search"
                                                      :value="getPlaceLabel(personalInfo.birthplace)"
                                                      >
                                                  </b-input>
                                                  <p class="control">
                                                      <b-button @click="isComponentModalActive=true;" type="is-primary" label="Browse" icon-right="download" />
                                                  </p>
                                              </b-field>

                                              <div class="space-y-3">
                                                  <b-notification type="is-success" aria-close-label="Close notification" class="is-small">
                                                      Nice! Well done, now let's go a little bit to your contact details.
                                                  </b-notification>

                                                  <b-field label="Email"  class="small-size"
                                                      :type="$v.personalInfo.email.$error ? 'is-danger' : ''"
                                                      :message="setErrorMessage($v.personalInfo.email)"
                                                  >
                                                      <b-input @blur="checkUniqueness('EmailAddress', personalInfo.email)" v-model="$v.personalInfo.email.$model"></b-input>
                                                  </b-field>
                                                  <b-field label="Contact No."  class="small-size">
                                                      <p class="control">
                                                          <span class="button is-static">+63</span>
                                                      </p>
                                                      <b-input v-model="personalInfo.mobile_number" placeholder="This is expanded" expanded></b-input>
                                                  </b-field>

                                                  <b-field label="Tel. No. (Home)"  class="small-size">
                                                      <b-input v-model="personalInfo.home_number" placeholder="(###)###-####" v-mask="'(###)###-####'"></b-input>
                                                  </b-field>

                                                  <b-field label="Office No."  class="small-size">
                                                      <b-input v-model="personalInfo.office_number" placeholder="09123456789" v-mask="'###########'"></b-input>
                                                  </b-field>
                                              </div>
                                              </div>
                                        </div>
                                    </div>
                                </b-step-item>

                                <b-step-item step="2" label="Beneficiary Declaration" :clickable="isStepsClickable" disabled>
                                    <div class="card px-2" style="">
                                          <header class="card-header" style="background-color: #3298dc">
                                                <p class="card-header-title" style="color: #ffffff">
                                                  Some beneficiaries won't hurt, right, mate?
                                                </p>
                                                <button class="card-header-icon" aria-label="more options">
                                                <span class="icon">
                                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                </span>
                                                </button>
                                            </header>
                                            <div class="card-content" style="overflow: visible !important;">
                                                <div style="overflow: visible !important;">
                                                  <transition-group class="space-y-2" name="list" tag="div">
                                                      <div v-for="(row, index) in personalOtherInfo.beneficiaries" :key="row.FirstName + row.LastName" class="flex flex-row place-content-between text-green-500 font-semibold bg-gradient-to-r from-gray-100 shadow-md border border-green-300 w-full px-5 py-2 rounded-full">
                                                        <div>
                                                          {{row.FirstName}} {{row.MiddleName}} {{row.LastName}}
                                                        </div>
                                                        <div>
                                                          <b-button @click="removeBeneficiary(index)" class="text-red-500 border border-red-500" rounded size="is-small"
                                                              icon-left="trash-alt">
                                                          </b-button>
                                                        </div>
                                                      </div>
                                                  </transition-group>
                                                  <b-button class="mt-2" @click="beneficiaryModalActive=true" type="is-success is-light">Add Beneficiary</b-button>
                                                </div>
                                            </div>
                                    </div>
                                </b-step-item>

                                <b-step-item step="3" label="Identification" :clickable="isStepsClickable" :type="{'is-success': isProfileSuccess}" disabled>
                                    <h5 class="text-base has-text-centered">A'right, Almost there buddy</h5>

                                    <div class="space-y-7">

                                        <!--start-->
                                        <div class="card">
                                            <header class="card-header" style="background-color: #3298dc">
                                                <p class="card-header-title" style="color: #ffffff">
                                                ID Fields
                                                </p>
                                                <button class="card-header-icon" aria-label="more options">
                                                <span class="icon">
                                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                </span>
                                                </button>
                                            </header>
                                            <div class="card-content" style="overflow: visible !important;">
                                                <div class="" style="overflow: visible !important;">
                                                    <div class="grid grid-cols-12">
                                                        <div  class="col-span-12 md:col-span-4 px-5 py-2 text-left">
                                                            <b-field class="small-size"
                                                                    label="ID Type">
                                                                    <b-select v-model="idRow.idType" placeholder="Select ID Type" expanded>
                                                                        <option v-for="type in idTypes" :key="type.CodeID" :value="type.CodeID">{{type.CodeValue}}</option>

                                                                    </b-select>
                                                                </b-field>
                                                        </div>
                                                        <div  class="col-span-12 md:col-span-4 px-5 py-2 text-left">
                                                            <b-field label="ID Number" class="small-size">
                                                                        <b-input v-model="idRow.idNumber"></b-input>
                                                                </b-field>
                                                        </div>
                                                        <div  class="col-span-12 md:col-span-4 px-5 py-2 text-left overflow-visible">
                                                            <b-field label="Date Issued" class="small-size">
                                                                    <b-datepicker
                                                                        style="z-index:1000;"
                                                                        v-model="idRow.dateIssued"
                                                                        :show-week-number="false"
                                                                        :locale="'en-US'"
                                                                        placeholder="Click to select..."
                                                                        icon="calendar"
                                                                        trap-focus>
                                                                    </b-datepicker>
                                                                </b-field>

                                                                <b-field>
                                                                    <b-checkbox v-model="idRow.isUsed">Is Used?</b-checkbox>
                                                                </b-field>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <footer class="card-footer">
                                                <b-button  icon-right="plus" class="card-footer-item" @click="addIdDetails">Add ID</b-button>
                                            </footer>
                                         </div>
                                        <!--end of the start-->

                                         <transition name="fade">
                                         <b-notification
                                                        v-if="!personalIdInfo.idList.length>=1"
                                                        type="is-warning"
                                                        aria-close-label="Close notification"
                                                        role="alert">
                                                        Kindly add some of your available IDs so we can have records of them. Afterall, this is a cooperative of trust, right? :D
                                         </b-notification>

                                         <div v-else class="box">
                                                <transition-group class="grid grid-cols-12" name="list">
                                                    <div v-for="(idDetails, index) in personalIdInfo.idList" :key="index" class="col-span-12 md:col-span-4 m-2">
                                                        <div class="container">
                                                            <div class="notification bg-indigo-100 rounded-lg p-2">
                                                                <div class="container" style="height:25px;">
                                                                    <span class="float-left font-semibold">
                                                                        {{setIdLabel(idDetails.idType)}}
                                                                    </span>

                                                                    <span class="float-right">
                                                                        <button
                                                                            type="button"
                                                                            class="delete"
                                                                            @click="removeId(index)"
                                                                            />
                                                                    </span>
                                                                </div>
                                                                <div class="container space-y-1">
                                                                         <div class="grid grid-cols-4">
                                                                             <div class="col-span-2 text-sm">
                                                                              ID No:
                                                                            </div>
                                                                            <div class="container col-span-2 text-sm bg-blue-400 bg-opacity-40 rounded-lg text-center font-semibold">
                                                                                {{idDetails.idNumber}}
                                                                            </div>
                                                                         </div>

                                                                         <div class="grid grid-cols-4">
                                                                            <div class="col-span-2 text-sm">
                                                                                Date Issued:
                                                                            </div>
                                                                            <div class="container col-span-2 text-sm bg-blue-400 bg-opacity-40 rounded-lg text-center font-semibold">
                                                                                {{idDetails.dateIssued | formatDate}}
                                                                            </div>
                                                                         </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </transition-group>

                                         </div>
                                          </transition>
                                    </div>

                                </b-step-item>

                                <b-step-item step="4" label="Addresses" :clickable="isStepsClickable" :type="{'is-success': isProfileSuccess}" disabled>
                                    <h5 class="text-base has-text-centered">Now to wrap it up, Where will we find you?</h5>

                                    <div class="space-y-7 " style="margin-top:40px;">

                                      <div class="card">
                                        <header class="card-header" style="background-color: #3298dc">
                                          <p class="card-header-title" style="color: #ffffff">
                                            Permanent Address
                                          </p>

                                        </header>

                                        <div class="card-content">
                                          <div class="content">
                                                 <b-field message="Permanent Address">
                                                    <b-input placeholder="Permanent Address"
                                                        disabled
                                                        expanded
                                                        icon="hospital-user"
                                                        type="search"
                                                        :value="getPlaceLabel(personalAddressInfo.permanentAddress)"
                                                        >
                                                    </b-input>
                                                    <p class="control">
                                                        <b-button @click="isComponentModalPermanentAddressActive=true;" type="is-primary" label="Browse" icon-right="download" />
                                                    </p>
                                                </b-field>

                                              <b-field v-if="isShowLocationField(personalAddressInfo.permanentAddress)" label="Prk./St."  class="small-size"
                                                      :type="$v.personalAddressInfo.permanentAddress.location.$error ? 'is-danger' : ''"
                                                      :message="setErrorMessage($v.personalAddressInfo.permanentAddress.location)"
                                                    >
                                                        <b-input v-model="$v.personalAddressInfo.permanentAddress.location.$model" placeholder="Purok / Street No. " class="my-input"></b-input>
                                              </b-field>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="card">
                                        <header class="card-header" style="background-color: #3298dc">
                                          <p class="card-header-title" style="color: #ffffff">
                                            Present Address
                                          </p>
                                          <b-checkbox v-model="isPresentSameWithPermanent" @input="togglePresent" :value="true" type="is-success" style="color: #ffffff">
                                                Same with Permanent
                                          </b-checkbox>
                                        </header>

                                        <div class="card-content">
                                          <div class="content">
                                              <b-field message="Present Addresss">
                                                    <b-input placeholder="Present Address"
                                                        disabled
                                                        expanded
                                                        icon="hospital-user"
                                                        type="search"
                                                        :value="getPlaceLabel(personalAddressInfo.presentAddress)"
                                                        >
                                                    </b-input>
                                                    <p class="control">
                                                        <b-button v-if="!isPresentSameWithPermanent" @click="isComponentModalPresentAddressActive=true;" type="is-primary" label="Browse" icon-right="download" />
                                                    </p>
                                                </b-field>

                                              <b-field v-if="isShowLocationField(personalAddressInfo.presentAddress)" label="Prk./St."  class="small-size"
                                                      :type="$v.personalAddressInfo.presentAddress.location.$error ? 'is-danger' : ''"
                                                      :message="setErrorMessage($v.personalAddressInfo.presentAddress.location)"
                                                    >
                                                        <b-input v-model="$v.personalAddressInfo.presentAddress.location.$model" placeholder="Purok / Street No. " class="my-input"></b-input>
                                              </b-field>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="grid grid-cols-12 gap-x-3 gap-y-5">
                                          <div class="col-span-12 md:col-span-6">
                                              <div class="card">
                                                  <header class="card-header" style="background-color: #3298dc">
                                                    <p class="card-header-title" style="color: #ffffff">
                                                      Employment
                                                    </p>

                                                  </header>

                                                  <div class="card-content">
                                                    <div class="content">
                                                         <b-field label="Employer"  class="small-size"
                                                          >
                                                              <b-input v-model="$v.personalOtherInfo.employer.$model" class="my-input"></b-input>
                                                          </b-field>

                                                          <b-field label="Occupation"  class="small-size"
                                                          >
                                                              <vue-select
                                                                :options="paginated"
                                                                @open="onOpen"
                                                                @close="onClose"
                                                                @search="query => selectSearchKey = query"
                                                                v-model="$v.personalOtherInfo.employmentPosition.$model"
                                                              >
                                                                <template #list-footer>
                                                                  <li ref="load" class="" v-show="hasNextPage">
                                                                    Loading more options...
                                                                  </li>
                                                                </template>

                                                              </vue-select>
                                                          </b-field>

                                                    </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-span-12 md:col-span-6">
                                             <div class="col-span-12 md:col-span-6">
                                                <div class="card">
                                                    <header class="card-header" style="background-color: #3298dc">
                                                      <p class="card-header-title" style="color: #ffffff">
                                                        Business
                                                      </p>

                                                    </header>

                                                    <div class="card-content">
                                                      <div class="content">
                                                            <b-field label="Business Name"  class="small-size"
                                                          >
                                                              <b-input v-model="$v.personalOtherInfo.businessName.$model" class="my-input"></b-input>
                                                          </b-field>

                                                          <b-field label="Type"  class="small-size"
                                                          >
                                                              <vue-select
                                                                :options="businessTypes"
                                                                v-model="$v.personalOtherInfo.businessType.$model"
                                                              >
                                                              </vue-select>
                                                          </b-field>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                      </div>
                                    </div>

                                </b-step-item>

                                <b-step-item step="5" label="User Account" :clickable="isStepsClickable" :type="{'is-success': isProfileSuccess}" disabled>
                                    <h5 class="text-base has-text-centered">And now for the last part, Create your own User Access Credentials</h5>
                                    <div class="card mt-5">
                                        <header class="card-header" style="background-color: #3298dc">
                                          <p class="card-header-title" style="color: #ffffff">
                                            User Account
                                          </p>
                                        </header>
                                      <div class="space-5 p-5">
                                        <b-field label="Username"  class="small-size"
                                                  :type="$v.personalUserAccountInfo.desiredUsername.$error ? 'is-danger' : ''"
                                                  :message="setErrorMessage($v.personalUserAccountInfo.desiredUsername)"
                                              >
                                                <b-input icon="user" @blur="checkUniqueness('DesiredUsername', personalUserAccountInfo.desiredUsername)" v-model="$v.personalUserAccountInfo.desiredUsername.$model"></b-input>
                                        </b-field>

                                        <b-message size="is-small" :type="$v.personalUserAccountInfo.desiredPassword.$invalid ? 'is-danger' : 'is-success'" has-icon>
                                            <span class="text-xs font-bold">Password Validation:</span>
                                            <ul>
                                              <li :class="{'text-green-800': $v.personalUserAccountInfo.desiredPassword.required && $v.personalUserAccountInfo.desiredPassword.minLength}"><b-icon :icon="$v.personalUserAccountInfo.desiredPassword.required && $v.personalUserAccountInfo.desiredPassword.minLength ? 'check' : 'times'" size="is-small"></b-icon>At least 8 Characters</li>
                                              <li :class="{'text-green-800': $v.personalUserAccountInfo.desiredPassword.hasOneUppercase}"><b-icon :icon="$v.personalUserAccountInfo.desiredPassword.hasOneUppercase ? 'check' : 'times'" size="is-small"></b-icon>At least 1 Uppercase character</li>
                                              <li :class="{'text-green-800': $v.personalUserAccountInfo.desiredPassword.hasOneLowercase}"><b-icon :icon="$v.personalUserAccountInfo.desiredPassword.hasOneLowercase ? 'check' : 'times'" size="is-small"></b-icon>At least 1 Lowercase character</li>
                                              <li :class="{'text-green-800': $v.personalUserAccountInfo.desiredPassword.hasOneDigit}"><b-icon :icon="$v.personalUserAccountInfo.desiredPassword.hasOneDigit ? 'check' : 'times'" size="is-small"></b-icon>At least 1 digit</li>
                                            </ul>
                                        </b-message>

                                        <b-field label="Password"  icon="key" class="small-size"
                                                  :type="$v.personalUserAccountInfo.desiredPassword.$error ? 'is-danger' : ''"
                                                  :message="setErrorMessage($v.personalUserAccountInfo.desiredPassword)"
                                              >
                                                <b-input icon="key" type="password" v-model="$v.personalUserAccountInfo.desiredPassword.$model" password-reveal></b-input>
                                        </b-field>

                                        <b-field label="Re-type Password"  class="small-size"
                                                  :type="$v.personalUserAccountInfo.matchPassword.$error ? 'is-danger' : ''"
                                                  :message="setErrorMessage($v.personalUserAccountInfo.matchPassword)"
                                              >
                                                <b-input icon="key" type="password" v-model="$v.personalUserAccountInfo.matchPassword.$model" password-reveal></b-input>
                                        </b-field>

                                      </div>
                                    </div>
                                </b-step-item>

                                <b-step-item :step="'6'" label="Finish" :clickable="isStepsClickable" disabled>
                                    <h1 class="title has-text-centered">Please review your details</h1>
                                    <div class="card pb-5">
                                        <header class="card-header" style="background-color: #3298dc">
                                          <p class="card-header-title" style="color: #ffffff">
                                            Personal Info
                                          </p>

                                        </header>

                                      <div class="box m-5">
                                        <div class="grid grid-cols-12 gap-2 ">
                                          <div class=" col-span-12 md:col-span-4">
                                                <b-field label="Lastname" >
                                                    <b-input :value="personalInfo.lastName" disabled></b-input>
                                                </b-field>
                                          </div>
                                          <div class=" col-span-12 md:col-span-4">
                                                <b-field label="Firstname" >
                                                    <b-input :value="personalInfo.firstName" disabled></b-input>
                                                </b-field>
                                          </div>
                                          <div class=" col-span-12 md:col-span-4">
                                                <b-field label="Middlename" >
                                                    <b-input :value="personalInfo.middleName" disabled></b-input>
                                                </b-field>
                                          </div>
                                        </div>
                                       </div>

                                      <div class="box m-5">
                                       <div class=" grid grid-cols-12 gap-2  ">
                                            <div class="col-span-12 md:col-span-4">
                                              <b-field label="Birthdate" >
                                                  <b-input icon="calendar" disabled></b-input>
                                              </b-field>
                                            </div>
                                            <div class=" col-span-12 md:col-span-4">
                                              <b-field label="Age" >
                                                  <b-input :value="getAge" disabled></b-input>
                                              </b-field>
                                            </div>
                                            <div class=" col-span-12 md:col-span-4">
                                              <b-field label="Gender" >
                                                  <b-input :value="getGenderLabel()" disabled></b-input>
                                              </b-field>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="box m-5">
                                          <div class=" grid grid-cols-12 gap-2 ">
                                              <div class="col-span-12 md:col-span-6">
                                                <b-field  label="Country" >
                                                    <b-input icon="globe-americas" :value="personalInfo.country.label" disabled></b-input>

                                                </b-field>
                                              </div>
                                              <div class="col-span-12 md:col-span-6">
                                                <b-field label="Nationality" >
                                                    <b-input :value="personalInfo.nationality.label" disabled></b-input>
                                                </b-field>
                                              </div>
                                              <div class="col-span-12 md:col-span-12">
                                                <b-field label="Birthplace" >
                                                    <b-input :value="getPlaceLabel(personalInfo.birthplace)" disabled></b-input>
                                                </b-field>
                                              </div>
                                            </div>
                                        </div>

                                        <div class="box m-5">
                                          <div class=" grid grid-cols-12 gap-2  ">
                                            <div class="col-span-12 md:col-span-3">
                                                <b-field  label="E-mail" >
                                                    <b-input icon="envelope-square" :value="personalInfo.email" disabled></b-input>
                                                </b-field>
                                            </div>
                                            <div class="col-span-12 md:col-span-3">
                                                <b-field  label="Contact No." >
                                                    <b-input icon="mobile-alt" :value="personalInfo.mobile_number" disabled></b-input>
                                                </b-field>
                                            </div>
                                            <div class="col-span-12 md:col-span-3">
                                                <b-field  label="Telephone No." >
                                                    <b-input icon="phone-square-alt" :value="personalInfo.home_number" disabled></b-input>
                                                </b-field>
                                            </div>
                                            <div class="col-span-12 md:col-span-3">
                                                <b-field  label="Office No." >
                                                    <b-input icon="phone-square-alt" :value="personalInfo.office_number" disabled></b-input>
                                                </b-field>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="card pb-5 mt-5">
                                        <header class="card-header" style="background-color: #3298dc">
                                          <p class="card-header-title" style="color: #ffffff">
                                            Identification
                                          </p>
                                        </header>
                                          <div class="box m-5">
                                            <div class="grid grid-cols-12 gap-2 ">

                                                <b-notification
                                                                v-if="!personalIdInfo.idList.length>=1"
                                                                type="is-warning"
                                                                aria-close-label="Close notification"
                                                                role="alert"
                                                                class="col-span-12 md:col-span-12">
                                                                Here lies your ID's
                                                </b-notification>
                                                  <div v-else class="col-span-12 md:col-span-12">
                                                    <div class="grid grid-cols-12 gap-2">
                                                    <!-- <transition-group name="list"> -->
                                                        <div v-for="(idDetails, index) in personalIdInfo.idList" :key="index" class="col-span-12 md:col-span-4">
                                                            <div class="container ">
                                                                <div class="notification bg-indigo-100 rounded-lg p-2" >
                                                                    <div class="container" style="height:25px;">
                                                                        <span class="float-left font-semibold">
                                                                            {{setIdLabel(idDetails.idType)}}
                                                                        </span>

                                                                        <!-- <span class="float-right">
                                                                            <button
                                                                                type="button"
                                                                                class="delete"
                                                                                @click="removeId(index)"
                                                                                />
                                                                        </span> -->
                                                                    </div>
                                                                    <div class="container">
                                                                            <div class="grid grid-cols-4 mb-1">
                                                                                <div class="col-span-2 text-sm">
                                                                                  ID No:
                                                                                </div>
                                                                                <div class="container col-span-2 text-sm bg-blue-400 bg-opacity-40 rounded-lg text-center font-semibold">
                                                                                    {{idDetails.idNumber}}
                                                                                </div>
                                                                            </div>

                                                                            <div class="grid grid-cols-4">
                                                                                <div class="col-span-2 text-sm">
                                                                                    Date Issued:
                                                                                </div>
                                                                                <div class="container col-span-2 text-sm bg-blue-400 bg-opacity-40 rounded-lg text-center font-semibold">
                                                                                    {{idDetails.dateIssued | formatDate}}
                                                                                </div>
                                                                            </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <!-- </transition-group> -->

                                                  </div>
                                                </div>
                                            </div>
                                          </div>

                                      </div>

                                      <div class="card pb-5 mt-5">
                                        <header class="card-header" style="background-color: #3298dc">
                                          <p class="card-header-title" style="color: #ffffff">
                                            Addresses
                                          </p>
                                        </header>

                                        <div class="box m-5">
                                            <div class="grid grid-cols-12 gap-2 mb-3">
                                              <div class="col-span-12 md:col-span-12 mb-3">
                                                <b-field  label="Permanent Address" >
                                                    <b-input icon="hospital-user" :value="getThePermanentAddress()" disabled></b-input>
                                                </b-field>
                                              </div>
                                              <div class="col-span-12 md:col-span-12">
                                                <b-field  label="Present Address" >
                                                    <b-input icon="hospital-user" :value="getThePresentAddress()" disabled></b-input>
                                                </b-field>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="box m-5">
                                          <div class="grid grid-cols-12 gap-2">
                                            <div class="col-span-12 md:col-span-6">
                                              <div class="notification bg-indigo-100 rounded-lg p-2" >
                                                <div class="container mb-2" style="height:25px; text-align:center;">
                                                    <span class="float-center font-semibold">
                                                        Employment
                                                    </span>
                                                </div>
                                                <div class="container">
                                                    <div class="grid grid-cols-4 mb-1">
                                                        <div class="col-span-2 text-sm">
                                                          Employer:
                                                        </div>
                                                        <div class="container col-span-2 text-sm bg-blue-400 bg-opacity-40 rounded-lg text-center font-semibold">
                                                            {{personalOtherInfo.employer}}
                                                        </div>
                                                    </div>
                                                    <div class="grid grid-cols-4">
                                                        <div class="col-span-2 text-sm">
                                                            Occupation:
                                                        </div>
                                                        <div class="container col-span-2 text-sm bg-blue-400 bg-opacity-40 rounded-lg text-center font-semibold">
                                                            {{getEmployment()}}
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-span-12 md:col-span-6">
                                              <div class="notification bg-indigo-100 rounded-lg p-2" >
                                                <div class="container mb-2" style="height:25px; text-align: center;">
                                                    <span class="font-semibold">
                                                        Business
                                                    </span>
                                                </div>
                                                <div class="container">
                                                    <div class="grid grid-cols-4 mb-1">
                                                        <div class="col-span-2 text-sm">
                                                          Business Name:
                                                        </div>
                                                        <div class="container col-span-2 text-sm bg-blue-400 bg-opacity-40 rounded-lg text-center font-semibold">
                                                            {{personalOtherInfo.businessName}}
                                                        </div>
                                                    </div>
                                                    <div class="grid grid-cols-4">
                                                        <div class="col-span-2 text-sm">
                                                            Business Type:
                                                        </div>
                                                        <div class="container col-span-2 text-sm bg-blue-400 bg-opacity-40 rounded-lg text-center font-semibold">
                                                            {{getBusiness()}}
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="card pb-5 mt-5">
                                        <header class="card-header" style="background-color: #3298dc">
                                          <p class="card-header-title" style="color: #ffffff">
                                            Signature and Confirmation
                                          </p>
                                        </header>
                                        <div class="box m-5">
                                            <b-button type="is-link" @click="isComponentModalSignatureActive=true;"> {{drawLabel}} Signature</b-button>

                                            <img v-if="signatureBase64!==null" :src="signatureBase64" height="400" width="400" />
                                        </div>

                                        <otp-selector :isSMSDisabled="false" :defaultOtpType="otpType" @doneselect="changeOtpType">

                                        </otp-selector>

                                        <div v-if="signatureBase64!==null" class="space-y-5 px-5">
                                            <div style="width:70%; margin:auto;">
                                              <b-field class="text-center px-5" >
                                                  <b-checkbox :disabled="isTermsDisabled" v-model="isTermsRead">

                                                  </b-checkbox>

                                                  <span style="">I have read and agreed to Aspire TC's <a class="text-blue-500" @click="isComponentModalTermsConditionActive=true">Terms and Conditionsx</a></span>
                                              </b-field>

                                            </div>

                                            <b-button v-if="!hasRegistered && isTermsRead" type="is-primary" expanded @click="registerAccount">CONFIRM AND REGISTER</b-button>
                                        </div>
                                    </div>
                              </b-step-item>

                                <template
                                class="self-center"
                                    v-if="customNavigation"
                                    #navigation="{previous, next}">
                                    <b-button
                                        v-if="!previous.disabled"
                                        outlined
                                        style="float:left; background-color:#d91807; color:#ffffff;"
                                        class="ml-4"
                                        icon-pack="fas"
                                        icon-left="backward"
                                        :disabled="previous.disabled"
                                        @click.prevent="previous.action">
                                        Previous
                                    </b-button>
                                    <b-button
                                        outlined
                                        class="mr-4"
                                        style="float:right; background-color: #3298dc; color:#ffffff;"
                                        icon-pack="fas"
                                        icon-right="forward"
                                        :disabled="next.disabled"
                                        @click.prevent="isFormValid">
                                        Next
                                    </b-button>
                                </template>

                            </b-steps>
                        </section>
                            <!--end -->
                       </div>
                  </div>
                  <!-- <div class="col-span-12 md:col-span-4 ">
                     <div class="left-0 top-0"> Campaigns go here </div>
                  </div> -->
        </div>

        <beneficiary-modal :beneficiaryModalActive="beneficiaryModalActive" :beneficiaryFields="beneficiaryFields" @closeModal="beneficiaryDone">

        </beneficiary-modal>
        <b-modal
            v-model="isComponentModalActive"
            has-modal-card
            trap-focus
            :destroy-on-hide="true"
            aria-role="dialog"
            aria-label="Example Modal"
            aria-modal
            >

            <address-locator @closeModal="isComponentModalActive=false" @locationSelected="setBirthPlace">

            </address-locator>
        </b-modal>

        <b-modal
            v-model="isComponentModalPermanentAddressActive"
            has-modal-card
            trap-focus
            :destroy-on-hide="true"
            aria-role="dialog"
            aria-label="Example Modal"
            aria-modal
            >

            <address-locator @closeModal="isComponentModalPermanentAddressActive=false" @locationSelected="setPermanentPlace">

            </address-locator>
        </b-modal>

        <b-modal
            v-model="isComponentModalPresentAddressActive"
            has-modal-card
            trap-focus
            :destroy-on-hide="true"
            aria-role="dialog"
            aria-label="Example Modal"
            aria-modal
            :can-cancel="['x']"
            >

            <address-locator @closeModal="isComponentModalPresentAddressActive=false" @locationSelected="setPresentPlace">

            </address-locator>
        </b-modal>

        <!--new thing, signature -->
        <b-modal
            v-model="isComponentModalSignatureActive"
            has-modal-card
            trap-focus
            :destroy-on-hide="true"
            aria-role="dialog"
            aria-label="Example Modal"
            aria-modal
            :can-cancel="['x']"
            >
            <signature-pad @closeModal="isComponentModalSignatureActive=false" @signatureCaptured="showSignature">
            </signature-pad>
        </b-modal>

         <b-modal
            v-model="isComponentModalTermsConditionActive"
            has-modal-card
            trap-focus
            :destroy-on-hide="true"
            aria-role="dialog"
            aria-label="Example Modal"
            aria-modal
            :can-cancel="['x']"
            >
            <terms-and-condition @closeModal="isComponentModalTermsConditionActive=false" @acceptedTerms="isComponentModalTermsConditionActive=false; isTermsRead=true; isTermsDisabled=false;">

            </terms-and-condition>
        </b-modal>

        <modal name="OTPShow"
        classes="errmodx"
         :focusTrap="true"
         :height="'60%'"
         :width="'80%'"
         :clickToClose="false"
         @closed="closeOTPModal"
         @before-open="openOTPModal"
        >
              <div class="h-full">
                  <div class="header bg-blue-700 p-2">
                      <div class="flex flex-row text-white">
                          <div class="flex-grow text-center font-semibold">CONTACT VERIFICATION</div>
                          <div class="flex-none">
                              <button @click="$modal.hide('OTPShow')">
                                ❌
                              </button>
                          </div>
                      </div>
                  </div>
                  <otp-sender @validotp="proceedRegistration" :hasEmail="false" :mobile_number="personalInfo.mobile_number" :email="personalInfo.email" :firstname="personalInfo.firstName" :lastname="personalInfo.lastName" :otpType="selectedOtpType">

                  </otp-sender>
              </div>
        </modal>

        <b-loading  :is-full-page="true" v-model="isPageLoading" :can-cancel="false">
                <b-icon
                    pack="fas"
                    icon="spinner"
                    size="is-large"
                    custom-class="fa-spin">
                </b-icon>
                Preparing to launch...
        </b-loading>

        <b-loading  :is-full-page="true" v-model="isRegisteringApp" :can-cancel="false">
                <b-icon
                    class="text-green-500"
                    pack="fas"
                    icon="spinner"
                    size="is-large"
                    custom-class="fa-spin">
                </b-icon>
               <span class="text-green-500 font-bold"> Please wait while we process your Registration </span>
        </b-loading>
    </div>
</template>
<script>
import AutoComplete from '../components/AutoComplete.vue'
import AddressLocator from '../components/AddressLocator.vue'
import SignaturePad from '../components/SignaturePad.vue'
import TermsAndCondition from '../components/TermsAndCondition.vue'
import OtpSelector from '../components/OtpSelector.vue'
import OtpSender from '../components/OtpSender.vue'
import BeneficiaryModal from '../components/registrants/BeneficiaryModal.vue'
import _ from 'lodash'
import { required, minLength, numeric, email, requiredIf, alphaNum, maxValue, sameAs } from 'vuelidate/lib/validators'
import mixinss from '../mixins'
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'
import Swal from 'sweetalert2'

export default {
  components: {
    'auto-complete': AutoComplete,
    'address-locator': AddressLocator,
    'vue-select': vSelect,
    'signature-pad': SignaturePad,
    'terms-and-condition': TermsAndCondition,
    'otp-sender': OtpSender,
    'otp-selector': OtpSelector,
    'beneficiary-modal': BeneficiaryModal
  },

  data () {
    return {
      beneficiaryModalActive: false,
      isRegisteringApp: false,
      hasRegistered: false,
      isSendingOTP: true,
      otpType: null,
      selectedOtpType: null,
      OTPRequired: {
        sms: null,
        email: null
      },
      OTPFields: {
        sms: null,
        email: null
      },
      isOTPShow: true,
      isPageLoading: true,
      isComponentModalActive: false,
      isComponentModalPermanentAddressActive: false,
      isComponentModalPresentAddressActive: false,
      isComponentModalSignatureActive: false,
      isComponentModalTermsConditionActive: false,
      isTermsRead: false,
      isTermsDisabled: true,
      idTypes: [],
      infoSources: [],
      beneficiaryFields: [],
      selectObserver: null,
      selectLimit: 5,
      selectSearchKey: '',
      employmentTypes: [],
      extensionNameTypes: ['', 'SR.', 'JR.', 'II', 'III', 'IV', 'V', 'VI', 'VII'],
      businessTypes: [],
      personalInfo: {
        firstName: '',
        middleName: '',
        lastName: '',
        gender: '',
        country: {},
        nationality: {},
        mobile_number: '',
        home_number: '',
        office_number: '',
        hasEmail: true,
        email: '',
        birthplace: null,
        birthplaceLabel: '',
        birthday: null,
        mothersMaidenName: null,
        infoSource: null,
        extensionName: ''
      },

      personalOtherInfo: {
        educationalDegree: null, // removed
        religion: null, // removed
        civilStatus: null, // removed
        employer: '',
        employmentPosition: null,
        businessName: '',
        businessType: null,
        beneficiaries: []
      },

      personalUserAccountInfo: {
        desiredUsername: '',
        desiredPassword: '',
        matchPassword: ''
      },

      personalIdInfo: {
        idList: []
      },

      personalAddressInfo: {
        permanentAddress: {
          isFromPh: true,
          location: ''
        },
        presentAddress: {
          isFromPh: true,
          location: ''
        }
      },

      idRow: {
        idType: null,
        idNumber: null,
        dateIssued: null,
        isUsed: null
      },

      // for bulma css steps settings
      activeStep: 0,
      currentPageCanGo: [
        false, false, false
      ],
      isAnimated: true,
      isRounded: true,
      isStepsClickable: false,
      hasNavigation: false,
      customNavigation: true,
      isProfileSuccess: false,
      prevIcon: 'chevron-left',
      nextIcon: 'chevron-right',
      labelPosition: 'bottom',
      mobileMode: 'minimalist',
      isPresentSameWithPermanent: false,
      signatureBase64: null,
      emailIsUnique: false,
      usernameIsUnique: false
      // end for css stepas settings
    }
  },

  created () {
    // this.$buefy.config.setOptions(this.customIconConfig)
    this.initializeFields()
    this.selectObserver = new IntersectionObserver(this.infiniteScroll)
  },

  mounted () {
    // this.$modal.show('OTPShow')
  },

  filters: {
    formatDate: function (value) {
      return new Date(value).toLocaleDateString()
    }
  },

  computed: {
    getAge () {
      if (this.personalInfo.birthday == null) { return 0 }
      var ageDifMs = Date.now() - this.personalInfo.birthday.getTime()
      var ageDate = new Date(ageDifMs) // miliseconds from epoch
      return Math.abs(ageDate.getUTCFullYear() - 1970)
    },

    filtered () {
      // let toBeFiltered = _.cloneDeep(this.employmentTypes)
      return this.employmentTypes.filter(option => {
        return (
          option.label
            .toString()
            .toLowerCase()
            .indexOf(this.selectSearchKey.toLowerCase()) >= 0
        )
      })
    },
    paginated () {
      return this.filtered.slice(0, this.selectLimit)
    },

    hasNextPage () {
      return this.paginated.length < this.filtered.length
    },

    drawLabel () {
      return this.signatureBase64 == null ? 'Draw' : 'Re-draw'
    }

  },

  validations: {
    personalInfo: {
      firstName: {
        required,
        minLength: minLength(2)
      },
      middleName: {
        minLength: minLength(2)

      },
      lastName: {
        required
        // minLength: minLength(3),
      },
      mobile_number: {
        required,
        numeric
      },
      country: {
        required
      },
      nationality: {
        required,
        isFilipino (objVal) {
          return objVal.value === 62
        }
      },
      email: {
        required,
        email,
        isUnique (value) {
          if (this.personalInfo.hasEmail) {
            return this.emailIsUnique
          } else return true
        }
      },
      birthplace: {
        required
      },
      mothersMaidenName: {
        required
      }
    },

    personalOtherInfo: {
      // educationalDegree: {
      //   required
      // },
      // religion: {
      //   required
      // },
      // civilStatus: {
      //   required
      // },
      employer: {
        required
      },
      employmentPosition: {
        required
      },
      businessName: {
        required
      },
      businessType: {
        required
      },
      beneficiaries: {
        required
      }
    },

    personalIdInfo: {
      idList: {
        required
      }
    },

    idRow: {
      idType: {
        required
      },
      idNumber: {
        required,
        alphaNum
      },
      dateIssued: {
        required,
        maxValue: maxValue(Date.now())
      }
    },

    personalAddressInfo: {
      permanentAddress: {
        location: {
          required: requiredIf(function () {
            return this.personalAddressInfo.permanentAddress.isFromPh
          })
        }
      },
      presentAddress: {
        location: {
          required: requiredIf(function () {
            return this.personalAddressInfo.presentAddress.isFromPh
          })
        }
      }
    },

    personalUserAccountInfo: {
      desiredUsername: {
        minLength: minLength(5),
        required,
        isUnique (value) {
          return this.usernameIsUnique
        }
      },
      desiredPassword: {
        minLength: minLength(8),
        required,
        hasOneUppercase (value) {
          const regex = new RegExp('(?=.*[A-Z])')
          return regex.test(value)
        },
        hasOneLowercase (value) {
          const regex = new RegExp('(?=.*[a-z])')
          return regex.test(value)
        },
        hasOneDigit (value) {
          const regex = new RegExp('(?=.*\\d)')
          return regex.test(value)
        }
      },
      matchPassword: {
        required,
        sameAsPassword: sameAs('desiredPassword')
      }

    },

    validationGroup: ['personalInfo', 'personalOtherInfo', 'personalIdInfo', 'idRow', 'personalAddressInfo', 'personalUserAccountInfo']

  },

  methods: {
    checkUniqueness (field, value) {
      let vm = this
      this.$axios.get(this.$store.state.visitor.apiEndpoint + `membership-registration/v1/get-email-profile-registrant?field=${field}&value=${value}&updateID=0`).then(res => {
        if (field === 'EmailAddress') {
          if (res.data) vm.emailIsUnique = false
          else vm.emailIsUnique = true
        } else if (field === 'DesiredUsername') {
          if (res.data) vm.usernameIsUnique = false
          else vm.usernameIsUnique = true
        }
      }).catch(err => {
        vm.emailIsUnique = false
        throw err
      })
    },

    removeBeneficiary (index) {
      this.personalOtherInfo.beneficiaries.splice(index, 1)
    },

    beneficiaryDone (value) {
      if (value !== null) {
        let repeat = this.personalOtherInfo.beneficiaries.filter(val => val.FirstName.toString().toLowerCase() === value.FirstName.toString().toLowerCase() && val.LastName.toString().toLowerCase() === value.LastName.toString().toLowerCase()).length
        console.log(repeat, value)
        if (repeat >= 1) {
          this.$buefy.toast.open({
            message: 'Beneficiary was already added',
            type: 'is-danger'
          })
        } else {
          this.personalOtherInfo.beneficiaries.push(value)
        }
      }
      this.beneficiaryModalActive = false
    },

    closeOTPModal () {
      let htmlelement = document.getElementsByTagName('html')
      htmlelement[0].classList.remove('is-clipped')
    },

    openOTPModal () {
      let htmlelement = document.getElementsByTagName('html')
      htmlelement[0].classList.add('is-clipped')
    },

    termsISChecked () {
      if (this.isTermsRead === true) {
        return 0
      }
      this.$buefy.toast.open({
        message: 'Have you checked the Terms and Conditions?',
        type: 'is-danger'
      })
    },

    getGenderLabel () {
      if (this.personalInfo.gender === '0') { return 'Mr.' } else if (this.personalInfo.gender === '1') return 'Ms.'
      else return ''
    },

    getEmployment () {
      if (typeof (this.personalOtherInfo.employmentPosition) === 'undefined') { return '' }

      if (this.personalOtherInfo.employmentPosition !== null) { return this.personalOtherInfo.employmentPosition.label } else return ''
    },

    getBusiness () {
      if (typeof (this.personalOtherInfo.businessType) === 'undefined') { return '' }

      if (this.personalOtherInfo.businessType !== null) { return this.personalOtherInfo.businessType.label } else return ''
    },

    selectionHasMade (value) {
      value == null ? this.personalInfo.country = {} : this.personalInfo.country = value
    },

    setIdLabel (id) {
      return _.find(this.idTypes, function (o) {
        return o.CodeID === id
      }).CodeValue
    },

    selectionNationalityHasMade (value) {
      value == null ? this.personalInfo.nationality = {} : this.personalInfo.nationality = value
    },

    setBirthPlace (value) {
      this.personalInfo.birthplace = value
      this.isComponentModalActive = false
    },

    isShowLocationField (value) {
      if (value == null) { return false }

      if (value.isFromPh) { return true }

      return false
    },

    setPermanentPlace (value) {
      value.location = ''
      this.personalAddressInfo.permanentAddress = value
      this.isComponentModalPermanentAddressActive = false
    },

    setPresentPlace (value) {
      value.location = ''
      this.personalAddressInfo.presentAddress = value
      this.isComponentModalPresentAddressActive = false
    },

    isFormValid () {
      // next.action;

      if (this.activeStep === 0) {
        this.$v.personalInfo.$touch()

        if (!this.$v.personalInfo.$invalid) {
          this.activeStep++
          window.scrollTo(0, 0)
        } else {
          this.$buefy.toast.open({
            duration: 2000,
            message: 'Ooops. Kindly review the fields required.',
            position: 'is-top',
            type: 'is-danger'
          })
        }
      } else if (this.activeStep === 1) {
        this.$v.personalOtherInfo.beneficiaries.$touch()
        if (this.$v.personalOtherInfo.beneficiaries.$invalid) {
          this.$buefy.toast.open({
            duration: 2000,
            message: 'Just kindly add at least 1 Beneficiary.',
            position: 'is-top',
            type: 'is-danger'
          })
        } else {
          this.activeStep++
          window.scrollTo(0, 0)
        }
      } else if (this.activeStep === 2) {
        this.$v.personalIdInfo.$touch()
        if (!this.$v.personalIdInfo.$invalid) {
          this.activeStep++
          window.scrollTo(0, 0)
        } else {
          this.$buefy.toast.open({
            duration: 2000,
            message: 'Just kindly add at least 1 ID that you use please.',
            position: 'is-top',
            type: 'is-danger'
          })
        }
      } else if (this.activeStep === 3) {
        this.$v.personalAddressInfo.$touch()
        this.$v.personalOtherInfo.$touch()
        if (!this.$v.personalAddressInfo.$invalid && !this.$v.personalOtherInfo.$invalid) {
          this.activeStep++
          window.scrollTo(0, 0)
        } else {
          this.$buefy.toast.open({
            duration: 2000,
            message: 'Kidly fill up necessary Address Fields.',
            position: 'is-top',
            type: 'is-danger'
          })
        }
      } else if (this.activeStep === 4) {
        this.$v.personalUserAccountInfo.$touch()
        if (!this.$v.personalUserAccountInfo.$invalid) {
          this.activeStep++
          window.scrollTo(0, 0)
        } else {
          this.$buefy.toast.open({
            duration: 2000,
            message: 'Kidly fill up and follow User Account Fields.',
            position: 'is-top',
            type: 'is-danger'
          })
        }
      } else {
        this.activeStep++
        window.scrollTo(0, 0)
      }
    },

    initializeFields () {
      let vm = this
      this.$axios.get(this.$store.state.visitor.apiEndpoint + 'membership-registration/v1/initialize-request-form', {}).then(res => {
        let result = res.data
        vm.idTypes = result.ids
        vm.employmentTypes = result.occType
        vm.businessTypes = result.busnType
        vm.infoSources = result.infoSources
        vm.beneficiaryFields = result.beneficiaryFields
        vm.isPageLoading = false
      }).catch(err => {
        vm.isPageLoading = false
        this.$buefy.toast.open({
          duration: 2000,
          message: err.message,
          position: 'is-top',
          type: 'is-danger'
        })
      })
    },

    togglePresent (val) {
      if (val) { this.personalAddressInfo.presentAddress = this.personalAddressInfo.permanentAddress } else {
        this.personalAddressInfo.presentAddress = {
          isFromPh: false,
          location: ''
        }
      }
    },

    addIdDetails: async function () {
      this.$v.idRow.$touch()
      if (!this.$v.idRow.$invalid) {
        let valTemp = _.cloneDeep(this.personalIdInfo.idList)
        valTemp.push(this.idRow)

        let uniqueCount = _.uniqWith(valTemp, _.isEqual)

        if (uniqueCount.length === valTemp.length) {
          this.idRow.isUsed = this.idRow.isUsed == null ? false : this.idRow.isUsed
          this.personalIdInfo.idList.push(_.cloneDeep(this.idRow))
        } else {
          this.$buefy.toast.open({
            duration: 2000,
            message: 'Ooops! You may have already entered that ID!',
            position: 'is-top',
            type: 'is-danger'
          })
        }
      } else {
        this.$buefy.toast.open({
          duration: 2000,
          message: 'Ooops! Something went wrong. Please try again.',
          position: 'is-top',
          type: 'is-danger'
        })
      }
    },

    getThePermanentAddress () {
      return this.personalAddressInfo.permanentAddress.location + ', ' + this.getPlaceLabel(this.personalAddressInfo.permanentAddress)
    },

    getThePresentAddress () {
      return this.personalAddressInfo.presentAddress.location + ', ' + this.getPlaceLabel(this.personalAddressInfo.presentAddress)
    },

    removeId (index) {
      this.personalIdInfo.idList.splice(index, 1)
    },

    showSignature (value) {
      var reader = new FileReader()
      reader.readAsDataURL(value)
      reader.onloadend = () => {
        this.signatureBase64 = reader.result
        this.isComponentModalSignatureActive = false
      }
    },

    async infiniteScroll ([{ isIntersecting, target }]) {
      if (isIntersecting) {
        const ul = target.offsetParent
        const scrollTop = target.offsetParent.scrollTop
        this.selectLimit += 5
        await this.$nextTick()
        ul.scrollTop = scrollTop
      }
    },

    async onOpen () {
      if (this.hasNextPage) {
        await this.$nextTick()
        this.selectObserver.observe(this.$refs.load)
      }
    },
    onClose () {
      this.selectObserver.disconnect()
    },

    registerAccount () {
      this.$modal.show('OTPShow')
    },

    proceedRegistration () {
      this.$modal.hide('OTPShow')

      this.isRegisteringApp = true
      let params = {
        profile: {
          LastName: this.personalInfo.lastName,
          FirstName: this.personalInfo.firstName,
          MiddleName: this.personalInfo.middleName,
          ExtensionName: this.personalInfo.extensionName,
          FKCountryId: this.personalInfo.country.value,
          FKNationalityId: this.personalInfo.nationality.value,
          FKGenderId: this.personalInfo.gender,
          FKEducationalLevelId: '11',
          FKReligionId: '49',
          FKCivilStatusId: '0',
          MotherMaidenFirstName: this.personalInfo.mothersMaidenName,
          MotherMaidenMiddleName: '',
          MotherMaidenLastName: '',
          MobileNumber: this.personalInfo.mobile_number,
          HomePhoneNumber: this.personalInfo.home_number,
          OfficePhoneNumber: this.personalInfo.office_number,
          EmailAddress: this.personalInfo.email,
          RoomNo: '',
          BldgName: '',
          PhaseNo: '',
          HouseNo: '',
          Purok: this.personalAddressInfo.permanentAddress.location,
          SubdivisionName: '',
          FKBarangayId: this.personalAddressInfo.permanentAddress.hasBarangay ? this.personalAddressInfo.permanentAddress.barangay.value : '112319007',
          FKCityId: this.personalAddressInfo.permanentAddress.isFromPh ? this.personalAddressInfo.permanentAddress.city.value : '112319',
          DateOccupied: '1/1/1900',
          FKRegionId: this.personalAddressInfo.permanentAddress.isFromPh ? this.personalAddressInfo.permanentAddress.region.value : '11',
          FKProvinceId: this.personalAddressInfo.permanentAddress.isFromPh ? this.personalAddressInfo.permanentAddress.province.value : '1123',
          PresentRoomNo: '',
          PresentBldgName: '',
          PresentPhaseNo: '',
          PresentHouseNo: '',
          PresentPurok: this.personalAddressInfo.presentAddress.location,
          PresentSubdivisionName: '',
          FKPresentBarangayId: this.personalAddressInfo.presentAddress.hasBarangay ? this.personalAddressInfo.presentAddress.barangay.value : '112319007',
          FKPresentCityId: this.personalAddressInfo.presentAddress.isFromPh ? this.personalAddressInfo.presentAddress.city.value : '112319',
          PresentDateOccupied: '01/01/1900',
          FKPresentRegionId: this.personalAddressInfo.presentAddress.isFromPh ? this.personalAddressInfo.presentAddress.region.value : '11',
          FKPresentProvinceId: this.personalAddressInfo.presentAddress.isFromPh ? this.personalAddressInfo.presentAddress.province.value : '1123',
          Employer: this.personalOtherInfo.employer,
          PositionDesignation: this.personalOtherInfo.employmentPosition.code,
          EmployerContactNo: '',
          BusinessName: this.personalOtherInfo.businessName,
          BusinessDateStarted: '1/1/1900',
          BusinessAddress: '',
          FKBusinessTypeId: this.personalOtherInfo.businessType.code,
          RegistrationStatus: 'MSSVERIFICATION',
          DateRegistered: Date.now(),
          Birthdate: this.personalInfo.birthday,
          DesiredUsername: this.personalUserAccountInfo.desiredUsername,
          DesiredPassword: this.personalUserAccountInfo.desiredPassword,
          FKDesiredBranchId: '4',
          signatureBase64: this.signatureBase64
        },
        dependents: this.personalOtherInfo.beneficiaries,
        ids: this.personalIdInfo.idList
      }

      this.$axios.post(`${this.$store.state.visitor.apiEndpoint}insert/v1/insert-or-profile-registrant`, params).then(res => {
        this.isRegisteringApp = false
        if (res.data.status === 'successful') {
          Swal.fire(
            'Good job!',
            'Thank you for your interest in registration. You may now login your account',
            'success'
          ).then(result => {
            if (result.isConfirmed) {
              this.$router.push('/login')
            }
          })
        } else {
          this.$buefy.toast.open({
            duration: 2000,
            message: 'Ooops! Server Error. Please try again.',
            position: 'is-top',
            type: 'is-danger'
          })
        }
      }).catch(err => {
        this.isRegisteringApp = false
        this.$buefy.toast.open({
          duration: 2000,
          message: err.message,
          position: 'is-top',
          type: 'is-danger'
        })
        throw err
      })
    },
    changeOtpType (val) {
      this.selectedOtpType = val
    }

  },
  mixins: [mixinss]
}
</script>

<style lang="scss">
.card {
    overflow: visible !important;
}

.content ul {
  margin-left: 0 !important;
  margin-top: 0 !important;
}
</style>
