<template>
    <section>
                <div class="modal-card h-screen">
                    <header class="modal-card-head">
                        <div class="w-full" style="">
                        <div class="float-left text-left">
                            <p class="text-lg subpixel-antialiased">Browse Location</p>
                            <p class="text-xs ">Location Search for Birthplacex</p>
                        </div>
                        <button
                            type="button"
                            class="delete float-right"
                            @click="$emit('closeModal')"/>
                        </div>
                    </header>
                    <section class="modal-card-body space-y-5">
                      <div class="grid grid-cols-12">
                          <div class="col-span-6">
                              <b-field>
                                <b-checkbox v-model="isFromPh" @input="(val)=>{val?isShowIncludeBarangay=true : isShowIncludeBarangay=false;}" >From PH</b-checkbox>
                            </b-field>
                          </div>

                          <div v-if="isShowIncludeBarangay" class="col-span-6">
                              <b-field>
                                <b-checkbox v-model="includeBarangay" >Include Brgy.?</b-checkbox>
                            </b-field>
                          </div>
                      </div>
                      <div v-if="isFromPh" class="mt-6">
                          <!-- if from ph -->
                          <div style="margin-bottom:-25px;">&nbsp; </div>

                        <b-field label="Region" :label-position="'on-border'" class="small-size"
                        :type="$v.selected.$anyError ? 'is-danger' : ''"
                                  :message="setErrorMessage($v.selected)"
                        >
                            <b-autocomplete
                                    :data="filteredDataObj"
                                    :placeholder="'Search Region...'"
                                    v-model="myModel"
                                    field="label"
                                    :loading="isFetching"
                                    :dropdown-position="'bottom'"
                                    :open-on-focus="true"

                                    @select="option => setSelectedOption(option)"
                                    @blur="setSelectedText()"
                                >
                                    <template slot-scope="props">

                                        <div class="media">
                                            <div class="media-left">
                                                {{typeof(props.option.description)=='undefined' ? '' : props.option.description}}
                                            </div>
                                            <div class="media-content">
                                                {{props.option.label}}
                                            </div>
                                        </div>
                                    </template>
                            </b-autocomplete>
                        </b-field>

                        <b-field label="Province" :label-position="'on-border'" class="small-size"
                        :type="$v.provinceSelected.$anyError ? 'is-danger' : ''"
                                  :message="setErrorMessage($v.provinceSelected)"
                        >
                            <b-autocomplete
                                    :data="filteredDataObjProvince"
                                    :placeholder="'Search Province...'"
                                    v-model="myModelProvince"
                                    :dropdown-position="'bottom'"
                                    field="label"
                                    :loading="isFetchingProvince"
                                    :open-on-focus="true"
                                    @select="option => setSelectedOptionProvince(option)"
                                    @blur="setSelectedTextProvince()"
                                >
                                    <template slot-scope="props">

                                        <div class="media">
                                            <div class="media-left">
                                                {{typeof(props.option.description)=='undefined' ? '' : props.option.description}}
                                            </div>
                                            <div class="media-content">
                                                {{props.option.label}}
                                            </div>
                                        </div>
                                    </template>
                            </b-autocomplete>
                        </b-field>

                        <b-field label="City/Municipal" :label-position="'on-border'" class="small-size"
                        :type="$v.citySelected.$anyError ? 'is-danger' : ''"
                                  :message="setErrorMessage($v.citySelected)"
                        >
                            <b-autocomplete
                                    :data="filteredDataObjCity"
                                    :placeholder="'Search City/Municipal...'"
                                    v-model="myModelCity"
                                    field="label"
                                    :loading="isFetchingCity"
                                    :dropdown-position="'bottom'"
                                    :open-on-focus="true"
                                    @select="option => setSelectedOptionCity(option)"
                                    @blur="setSelectedTextCity()"
                                >
                                    <template slot-scope="props">

                                        <div class="media">
                                            <div class="media-left">
                                                {{typeof(props.option.description)=='undefined' ? '' : props.option.description}}
                                            </div>
                                            <div class="media-content">
                                                {{props.option.label}}
                                            </div>
                                        </div>
                                    </template>
                            </b-autocomplete>
                        </b-field>

                        <b-field v-if="includeBarangay" label="Barangay" :label-position="'on-border'" class="small-size"
                        :type="$v.barangaySelected.$anyError ? 'is-danger' : ''"
                                  :message="setErrorMessage($v.barangaySelected)"
                        >
                            <b-autocomplete
                                    :data="filteredDataObjBarangay"
                                    :placeholder="'Search Barangay...'"
                                    v-model="myModelBarangay"
                                    field="label"
                                    :loading="isFetchingBarangay"
                                    :open-on-focus="true"
                                    :dropdown-position="'bottom'"
                                    @select="option => setSelectedOptionBarangay(option)"
                                    @blur="setSelectedTextBarangay()"
                                >
                                    <template slot-scope="props">

                                        <div class="media">
                                            <div class="media-left">
                                                {{typeof(props.option.description)=='undefined' ? '' : props.option.description}}
                                            </div>
                                            <div class="media-content">
                                                {{props.option.label}}
                                            </div>
                                        </div>
                                    </template>
                            </b-autocomplete>
                        </b-field>
                          <!-- end if from ph-->
                      </div>

                      <div v-else>
                        <div style="margin-top:35px;">
                          <b-notification
                             class="text-xs"
                              type="is-warning"
                              aria-close-label="Close notification"
                              role="alert">
                              Your Location is outside the Philippines, we need to know the country of origin and your location name.
                          </b-notification>

                            <b-field label="Country" :label-position="'on-border'" class="small-size"
                            :type="$v.country.$anyError ? 'is-danger' : ''"
                                  :message="setErrorMessage($v.country)"
                            >
                                            <auto-complete :apiEndpoint="'membership-registration/v1/test-sequelize/'" :apiEndpointFailSafe="'membership-registration/v1/get-one-country/'" :fieldLabel="'Search Country...'" @doneselect="selectionHasMade">
                                            </auto-complete>
                           </b-field>

                           <b-field label="Location" :label-position="'on-border'" class="small-size"
                                  :type="$v.overseas_location.$anyError ? 'is-danger' : ''"
                                  :message="setErrorMessage($v.overseas_location)"
                                        >
                                                <b-input v-model="$v.overseas_location.$model"></b-input>
                           </b-field>
                        </div>

                      </div>

                       <b-button
                            label="Close"
                            @click="$emit('closeModal')" />
                        <b-button
                            :loading="isSubmitting"
                            class="float-right"
                            @click="processAddressLocation()"
                            label="Submit"
                            type="is-primary" />

                    </section>

                </div>

    </section>
</template>

<script>
import AutoComplete from '../components/AutoComplete.vue'
import _ from 'lodash'
import { requiredIf } from 'vuelidate/lib/validators'
import mixinss from '../mixins'

export default {
  components: {
    'auto-complete': AutoComplete
  },

  data () {
    return {
      isSubmitting: false,
      myModel: '',
      myModelProvince: '',
      myModelCity: '',
      myModelBarangay: '',
      isFetching: false,
      isFetchingProvince: false,
      isFetchingCity: false,
      isFetchingBarangay: false,
      selected: null,
      provinceSelected: null,
      citySelected: null,
      barangaySelected: null,
      data: [],
      provinceData: [],
      cityData: [],
      barangayData: [],
      isFromPh: true,
      country: null,
      overseas_location: '',
      isShowIncludeBarangay: true,
      includeBarangay: true
    }
  },

  validations: {
    overseas_location: {
      required: requiredIf(function () {
        return !this.isFromPh
      })
    },
    country: {
      required: requiredIf(function () {
        return !this.isFromPh
      })
    },

    selected: {
      required: requiredIf(function () {
        return this.isFromPh
      })
    },

    provinceSelected: {
      required: requiredIf(function () {
        return this.isFromPh
      })
    },

    citySelected: {
      required: requiredIf(function () {
        return this.isFromPh
      })
    },

    barangaySelected: {
      required: requiredIf(function () {
        return this.isFromPh && this.includeBarangay
      })
    }
  },

  computed: {
    filteredDataObj () {
      return this.data.filter(option => {
        return (
          option.label
            .toString()
            .toLowerCase()
            .indexOf(this.myModel.toLowerCase()) >= 0
        )
      })
    },

    filteredDataObjProvince () {
      if (this.selected === null) {
        return []
      }

      return this.provinceData.filter(option => {
        return (
          option.label
            .toString()
            .toLowerCase()
            .indexOf(this.myModelProvince.toLowerCase()) >= 0
        )
      })
    },

    filteredDataObjCity () {
      if (this.provinceSelected == null) {
        return []
      }

      return this.cityData.filter(option => {
        return (
          option.label
            .toString()
            .toLowerCase()
            .indexOf(this.myModelCity.toLowerCase()) >= 0
        )
      })
    },

    filteredDataObjBarangay () {
      if (this.citySelected == null) {
        return []
      }

      return this.barangayData.filter(option => {
        return (
          option.label
            .toString()
            .toLowerCase()
            .indexOf(this.myModelBarangay.toLowerCase()) >= 0
        )
      })
    }

  },

  watch: {
    selected: function (val) {
      if (val == null) {
        this.provinceSelected = null
        this.myModelProvince = ''
      }
    },

    provinceSelected: function (val) {
      if (val == null) {
        this.citySelected = null
        this.myModelCity = ''
      }
    },

    citySelected: function (val) {
      if (val == null) {
        this.barangaySelected = null
        this.myModelBarangay = ''
      }
    }

  },

  mounted () {
    this.getAsyncData()
  },

  methods: {
    regionSelected (value) {
      if (value !== null) {
        console.log('kauli ko diri hehe')
        //  this.$store.dispatch('visitor/toggleRegionSelection', true);
      }
    },

    getAsyncData () {
      this.selected = null
      this.isFetching = true
      let vm = this
      this.$axios.get(this.$store.state.visitor.apiEndpoint + 'membership-registration/v1/get-all-regions', {}).then(result => {
        vm.data = result.data
        vm.isFetching = false
      }).catch(err => {
        this.$buefy.toast.open({
          duration: 2000,
          message: err.message,
          position: 'is-top',
          type: 'is-danger'
        })
        vm.isFetching = false
      })
    },

    getAsynProvinceData () {
      this.provinceSelected = null
      this.isFetchingProvince = true
      let vm = this
      this.$axios.get(this.$store.state.visitor.apiEndpoint + 'membership-registration/v1/get-all-provinces-filtered/' + this.selected.value, {}).then(result => {
        vm.provinceData = result.data
        vm.isFetchingProvince = false
      }).catch(err => {
        this.$buefy.toast.open({
          duration: 2000,
          message: err.message,
          position: 'is-top',
          type: 'is-danger'
        })
        vm.isFetchingProvince = false
      })
    },

    getAsynCityData () {
      this.citySelected = null
      this.isFetchingCity = true
      let vm = this
      this.$axios.get(this.$store.state.visitor.apiEndpoint + 'membership-registration/v1/get-all-city-filtered/' + this.provinceSelected.value, {}).then(result => {
        vm.cityData = result.data
        vm.isFetchingCity = false
      }).catch(err => {
        this.$buefy.toast.open({
          duration: 2000,
          message: err.message,
          position: 'is-top',
          type: 'is-danger'
        })
        vm.isFetchingCity = false
      })
    },

    getAsynBarangayData () {
      this.barangaySelected = null
      this.isFetchingBarangay = true
      let vm = this
      this.$axios.get(this.$store.state.visitor.apiEndpoint + 'membership-registration/v1/get-all-barangay-filtered/' + this.citySelected.value, {}).then(result => {
        vm.barangayData = result.data
        vm.isFetchingBarangay = false
      }).catch(err => {
        this.$buefy.toast.open({
          duration: 2000,
          message: err.message,
          position: 'is-top',
          type: 'is-danger'
        })
        vm.isFetchingBarangay = false
      })
    },

    setSelectedOption (selected) {
      this.selected = selected
      document.activeElement.blur()
      // this.userInteractions;
      // this.$emit('doneselect', selected);
    },

    setSelectedText () {
      let vm = this
      vm.isFetching = true
      setTimeout(function () {
        if (vm.myModel !== '') {
          let theSelected = _.filter(vm.data, (o) => {
            return o.label.toLowerCase().indexOf(vm.myModel.toLowerCase()) > -1
          })

          console.log('ngekss', theSelected)

          if (!_.isEmpty(theSelected)) {
            vm.selected = theSelected[0]
            vm.myModel = theSelected[0].label
            vm.isFetching = false

            vm.getAsynProvinceData()
          } else {
            vm.selected = null
            vm.myModel = ''
            vm.isFetching = false
          }
          vm.isFetching = false
        } else {
          vm.selected = null
          vm.myModel = ''
          vm.isFetching = false
        }
      }, 1000)
    },

    setSelectedOptionProvince (selected) {
      this.provinceSelected = selected
      document.activeElement.blur()
      // this.userInteractions;
    },

    setSelectedTextProvince () {
      let vm = this
      vm.isFetchingProvince = true
      setTimeout(function () {
        if (vm.myModelProvince !== '') {
          let theSelected = _.filter(vm.provinceData, (o) => {
            return o.label.toLowerCase().indexOf(vm.myModelProvince.toLowerCase()) > -1
          })

          console.log('ngekssx', theSelected)

          if (!_.isEmpty(theSelected)) {
            vm.provinceSelected = theSelected[0]
            vm.myModelProvince = theSelected[0].label
            vm.isFetchingProvince = false

            vm.getAsynCityData()
          } else {
            vm.provinceSelected = null
            vm.myModelProvince = ''
            vm.isFetchingProvince = false
          }
          vm.isFetchingProvince = false
        } else {
          vm.provinceSelected = null
          vm.myModelProvince = ''
          vm.isFetchingProvince = false
        }
      }, 1000)
    },

    setSelectedOptionCity (selected) {
      this.citySelected = selected
      // this.userInteractions;
      if (this.citySelected !== null) { this.getAsynBarangayData() }
      document.activeElement.blur()
    },

    setSelectedOptionBarangay (selected) {
      this.barangaySelected = selected
      document.activeElement.blur()
    },

    setSelectedTextCity () {
      let vm = this
      vm.isFetchingCity = true
      setTimeout(function () {
        if (vm.myModelCity !== '') {
          let theSelected = _.filter(vm.cityData, (o) => {
            return o.label.toLowerCase().indexOf(vm.myModelCity.toLowerCase()) > -1
          })

          if (!_.isEmpty(theSelected)) {
            vm.citySelected = theSelected[0]
            vm.myModelCity = theSelected[0].label
            vm.isFetchingProvince = false
            vm.getAsynBarangayData()
          } else {
            vm.citySelected = null
            vm.myModelCity = ''
            vm.isFetchingCity = false
          }
          vm.isFetchingCity = false
        } else {
          vm.citySelected = null
          vm.myModelCity = ''
          vm.isFetchingCity = false
        }
      }, 1000)
    },

    setSelectedTextBarangay () {
      let vm = this
      vm.isFetchingBarangay = true
      setTimeout(function () {
        if (vm.myModelBarangay !== '') {
          let theSelected = _.filter(vm.barangayData, (o) => {
            return o.label.toLowerCase().indexOf(vm.myModelBarangay.toLowerCase()) > -1
          })

          if (!_.isEmpty(theSelected)) {
            vm.barangaySelected = theSelected[0]
            vm.myModelBarangay = theSelected[0].label
            vm.isFetchingBarangay = false
          } else {
            vm.barangaySelected = null
            vm.myModelBarangay = ''
            vm.isFetchingBarangay = false
          }
          vm.isFetchingBarangay = false
        } else {
          vm.barangaySelected = null
          vm.myModelBarangay = ''
          vm.isFetchingBarangay = false
        }
      }, 500)
    },

    selectionHasMade (value) {
      value == null ? this.country = {} : this.country = value
    },

    processAddressLocation () {
      this.isSubmitting = true
      let vm = this
      setTimeout(function () {
        vm.$v.$touch()
        if (vm.$v.$invalid) {
          vm.isSubmitting = false
          alert('invalid!')
        } else {
          let location = vm.isFromPh ? {
            isFromPh: vm.isFromPh,
            region: vm.selected,
            province: vm.provinceSelected,
            city: vm.citySelected,
            barangay: vm.includeBarangay ? vm.barangaySelected : {},
            hasBarangay: vm.includeBarangay
          } : {
            isFromPh: vm.isFromPh,
            country: vm.country,
            overseas_location: vm.overseas_location
          }
          vm.isSubmitting = false
          vm.$emit('locationSelected', location)
        }
      }, 1000)
    }

  },

  mixins: [mixinss]

}
</script>

<style >
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
