<template>
     <div>
         <b-autocomplete
            :data="data"
            :placeholder="fieldLabel"
            v-model="myModel"
            field="label"
            :loading="isFetching"
            @typing="getAsyncData"
            @select="option => setSelectedOption(option)"
            @blur="setSelectedText()"
         >
            <template slot-scope="props">
                <div class="media">
                    <div class="media-left">
                        {{typeof(props.option.description)=='undefined' ? '' : props.option.description}}
                    </div>
                    <div class="media-content">
                        {{props.option.label}}
                    </div>
                </div>
            </template>
         </b-autocomplete>
     </div>
</template>

<script>
import _ from 'lodash'
export default {
  props: {
    apiEndpoint: {
      type: String,
      required: true
    },
    apiEndpointFailSafe: {
      type: String,
      required: true
    },
    fieldLabel: {
      type: String,
      required: true
    },
    theModel: {
      type: String,
      required: false
    }

    /* hasDescription: {
      type: Boolean,
      require: true
    } */

  },
  data () {
    let myModel = typeof (this.theModel) !== 'undefined' ? _.cloneDeep(this.theModel) : null
    return {
      data: null,
      isFetching: false,
      myModel,
      selected: null
    }
  },

  methods: {
    getAsyncData (name) {
      if (name.length < 1) { return }

      this.selected = null
      this.isFetching = true
      let vm = this
      this.$axios.get(this.$store.state.visitor.apiEndpoint + this.apiEndpoint + name, {}).then(result => {
        vm.data = result.data
        vm.isFetching = false
      }).catch(err => {
        this.$buefy.toast.open({
          duration: 2000,
          message: err.message,
          position: 'is-top',
          type: 'is-danger'
        })
        vm.isFetching = false
      })
    },

    setSelectedOption (selected) {
      console.log('selectedOption')
      this.selected = selected
      this.$emit('doneselect', selected)
    },

    setSelectedText () {
      console.log('selectedText', this.myModel)
      let vm = this
      vm.isFetching = true
      setTimeout(function () {
        // console.log('this is blur', textval.srcElement.value);
        if (vm.selected == null && vm.myModel !== '') {
          vm.$axios.get(vm.$store.state.visitor.apiEndpoint + vm.apiEndpointFailSafe + vm.myModel, {}).then(result => {
            if (result.data) {
              vm.selected = result.data
              vm.myModel = result.data.label
              vm.isFetching = false
              vm.$emit('doneselect', result.data)
            } else {
              vm.selected = result.data
              vm.myModel = result.data.label
              vm.isFetching = false
              vm.$emit('doneselect', result.data)
            }
          }).catch(err => {
            vm.$buefy.toast.open({
              duration: 2000,
              message: err.message,
              position: 'is-top',
              type: 'is-danger'
            })
            vm.isFetching = false
          })
        } else {
          vm.isFetching = false

          if (vm.selected == null) { vm.$emit('doneselect', null) }
        }
      }, 1000)
    }
  }
}
</script>
