<template>
     <div>

         <b-autocomplete
            :data="filteredDataObj"
            :placeholder="fieldLabel"
            v-model="myModel"
            field="label"
            :loading="isFetching"
            :open-on-focus="true"
            @typing="getAsyncData"
            @select="option => setSelectedOption(option)"
            @blur="setSelectedText()"
         >
            <template slot-scope="props">

                <div class="media">
                    <div class="media-left">
                        {{typeof(props.option.description)=='undefined' ? '' : props.option.description}}
                    </div>
                    <div class="media-content">
                        {{props.option.label}}
                    </div>
                </div>
            </template>
         </b-autocomplete>
         {{userInteractions}}
     </div>
</template>

<script>
import _ from 'lodash'
export default {
  props: {
    apiEndpoint: {
      type: String,
      required: true
    },
    // apiEndpointFailSafe: {
    //   type: String,
    //   required: true
    // },
    fieldLabel: {
      type: String,
      require: true
    },
    /* hasDescription: {
      type: Boolean,
      require: true
    } */

    watchFor: {
      type: String,
      require: true
    }

  },
  data () {
    return {
      data: [],
      isFetching: false,
      myModel: '',
      selected: null
    }
  },

  mounted () {
    this.getAsyncData()
  },

  created () {
    this.triggerComputed()
  },

  computed: {

    userInteractions () {
      if (this.$store.state.visitor.userInteractions.isRegionSelected && this.watchFor === 'region') {
        console.log('region has selected')
        // this.$store.dispatch('visitor/toggleRegionSelection', false).then(res => {
        //   console.log('daeyf?')
        //   return res
        // })

        return null
      } else { return null }
    },

    filteredDataObj () {
      return this.data.filter(option => {
        return (
          option.label
            .toString()
            .toLowerCase()
            .indexOf(this.myModel.toLowerCase()) >= 0
        )
      })
    }
  },

  methods: {

    triggerComputed () {
      console.log(this.userInteractions)
    },

    getAsyncData () {
    //   if(name.length<1)
      //   return;

      this.selected = null
      this.isFetching = true
      let vm = this
      this.$axios.get(this.$store.state.visitor.apiEndpoint + this.apiEndpoint + 'fi', {}).then(result => {
        vm.data = result.data
        vm.isFetching = false
      }).catch(err => {
        this.$buefy.toast.open({
          duration: 2000,
          message: err.message,
          position: 'is-top',
          type: 'is-danger'
        })
        vm.isFetching = false
      })
    },

    setSelectedOption (selected) {
      console.log('selectedOption')
      this.selected = selected
      this.$emit('doneselect', selected)
    },

    setSelectedText () {
      console.log('selectedText', this.myModel)
      let vm = this
      vm.isFetching = true
      setTimeout(function () {
        // console.log('this is blur', textval.srcElement.value);
        if (vm.selected == null && vm.myModel !== '') {
          let theSelected = _.filter(vm.data, (o) => {
            return o.label.toLowerCase().indexOf(vm.myModel) > -1
          })

          console.log('ngekss', theSelected)

          if (!_.isEmpty(theSelected)) {
            console.log('notempty oi')
            vm.selected = theSelected[0]
            vm.myModel = theSelected[0].label
            vm.isFetching = false
            vm.$emit('doneselect', theSelected[0])
          } else {
            vm.selected = null
            vm.myModel = ''
            vm.isFetching = false
            vm.$emit('doneselect', null)
          }
          vm.isFetching = false
        } else {
          vm.isFetching = false

          if (vm.selected == null) { vm.$emit('doneselect', null) }
        }
      }, 1000)
    }
  }
}
</script>
