<template>
    <div class="details h-5/6 flex flex-col p-5">
                      <div v-if="!isSendingOTP">
                            <div class="p-2 space-y-5 flex-grow">
                            <div v-if="otpType === 'sms' || otpType === 'both'" class="">
                              <span class="text-sm">An OTP has beenx sent on your <span class="font-semibold">Mobile No. {{obscureNumber}}</span>. Please enter it below.</span>
                            <div class="flex flex-row">
                                <div class="flex-grow ">
                                    <b-input
                                        v-model="OTPFields.sms"
                                        type="search"
                                        icon="user-lock"
                                        expanded>
                                    </b-input>
                                </div>
                                <div class="flex-none px-1">
                                    <b-button>Resend</b-button>
                                </div>
                            </div>
                          </div>

                          <div v-if="otpType === 'email' || otpType === 'both'" class="">
                              <span class="text-sm">An OTP has been sent on your <span class="font-semibold">Email {{obscureEmail}}</span>. Please enter it below.</span>
                            <div class="flex flex-row">
                                <div class="flex-grow ">
                                    <b-input
                                        v-model="OTPFields.email"
                                        type="search"
                                        icon="user-lock"
                                        expanded>
                                    </b-input>
                                </div>
                                <div class="flex-none px-1">
                                    <b-button>Resend</b-button>
                                </div>
                            </div>
                          </div>
                        </div>

                        <div class="flex-shrink px-2">
                          <b-button expanded type="is-primary" @click="proceedRegistration">SUBMIT</b-button>
                        </div>
                      </div>
                      <div v-else class="text-center h-full">
                          <span class="align-middle">Sending OTP...</span>
                      </div>
     </div>
</template>

<script>
var obfEmail = require('obscure-email')

export default {
  props: {
    mobile_number: { type: String },
    email: { type: String },
    firstname: { type: String },
    lastname: { type: String },
    otpType: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      isSendingOTP: true,
      OTPRequired: {
        sms: null,
        email: null
      },
      OTPFields: {
        sms: null,
        email: null
      }
    }
  },

  created () {
    this.sendOTP()
  },

  computed: {
    obscureEmail () {
      return obfEmail(this.email)
    },

    obscureNumber () {
      let number = this.mobile_number
      return number.length >= 3 ? '*******' + number.substr(-3) : '*****'
    }
  },

  methods: {
    sendOTP () {
      // generate random string with 5
      this.OTPRequired.sms = this.otpType === 'sms' || this.otpType === 'both' ? (Math.floor(Math.random() * (99999 - 10000) + 10000)).toString() : null
      this.OTPRequired.email = this.otpType === 'email' || this.otpType === 'both' ? (Math.floor(Math.random() * (99999 - 10000) + 10000)).toString() : null
      let params = {
        options: {
          otpType: this.otpType,
          smsObject: {
            message: this.OTPRequired.sms,
            clientNumber: this.mobile_number
          },
          emailObject: {
            message: this.OTPRequired.email,
            clientEmail: this.email
          },
          clientName: this.firstname + ' ' + this.lastname.substr(0, 1)
        }
      }
      // this.isSendingOTP = false
      // console.log(params)
      this.$axios.post(this.$store.state.visitor.apiEndpoint + 'membership-registration/v1/send-otp', params).then(result => {
        console.log(result.data)
        this.isSendingOTP = false
      })
    },

    proceedRegistration () {
      if (JSON.stringify(this.OTPRequired) !== JSON.stringify(this.OTPFields)) {
        console.log('sulod ko here')
        this.$buefy.toast.open({
          duration: 2000,
          message: 'Ooops. Invalid OTP.',
          position: 'is-top',
          type: 'is-danger'
        })
        return 0
      }
      this.$emit('validotp', true)
    }
  }
}
</script>
