<template>
    <div class="block self-center">
        <b-field class="small-size" label="OTP Type">
            <b-radio v-model="otpType"
            name="otptype"
            :disabled="isSMSDisabled"
            native-value="sms">
            SMS
        </b-radio>
        <b-radio v-model="otpType"
            name="otptype"
            native-value="email">
            Email
        </b-radio>
        </b-field>
        <span class="text-xs">Depending on your selected country, SMS is unavailable outside PH.</span>
    </div>
</template>

<script>
export default {
  props: ['isSMSDisabled', 'defaultOtpType'],
  data () {
    return {
      otpType: this.defaultOtpType
    }
  },

  watch: {
    otpType: function (val) {
      console.log('im the otptype', val)
      this.$emit('doneselect', val)
    },
    defaultOtpType: function (val) {
      this.otpType = val
    }
  }
}
</script>
