<template>
    <section>
        <div class="modal-card" style="width: auto; height: 1500px;">
            <header class="modal-card-head">
                <div class="w-full" style="">
                <div class="float-left text-left">
                    <p class="text-lg subpixel-antialiased">PDF Viewer</p>
                </div>
                <button
                    type="button"
                    class="delete float-right"
                    @click="$emit('closeModal')"/>
                </div>
            </header>
            <section class="modal-card-body space-y-5 place-content-center">
                <div style="height:100%; width:100%;">
                    <vue-pdf-app class="shadow shadow-lg" :pdf="`${serverIp}media/v1/get-pdf/eyow`"></vue-pdf-app>
                </div>

                <div class="flex flex-row space-x-2">
                     <div class="flex-1">
                         <b-button @click="$emit('acceptObsa')" type="is-success" expanded>ACCEPT AND AGREE</b-button>
                     </div>
                     <div class="flex-none">
                         <b-button @click="$emit('closeModal')" type="is-danger" expanded>DECLINE</b-button>
                     </div>
                </div>
            </section>
        </div>
    </section>
</template>

<script>
import VuePdfApp from 'vue-pdf-app'
import 'vue-pdf-app/dist/icons/main.css'

export default {
  components: {
    VuePdfApp
  },

  computed: {
    serverIp: function () {
      return this.$store.state.visitor.apiEndpoint
    }
  }
}
</script>
