<template>
    <section>
        <div class="modal-card sm:w-screen md:w-96 h-screen">
            <header class="modal-card-head">
                        <div class="w-full" style="">
                        <div class="float-left text-left">
                            <p class="text-lg subpixel-antialiased">Signature</p>
                            <p class="text-xs ">Kindly sign your signature in the box to confirm registration</p>
                        </div>
                        <button
                            type="button"
                            class="delete float-right"
                            @click="$emit('closeModal')"/>
                        </div>
            </header>
            <section class="modal-card-body space-y-5 bg-gray-400 place-content-center">
                <canvas width=350 height=200 style="margin: 0px auto">

                </canvas>
            <b-button type="is-success is-small" @click="captureSigpad">Done</b-button>
            <b-button class="float-right" type="is-warning is-small" @click="clearSigPad">Clear</b-button>
            </section>
        </div>
    </section>
</template>

<script>
import SignaturePad from 'signature_pad'
export default {
  data () {
    return {
      signaturePad: null,
      signatureData: null
    }
  },
  mounted () {
    this.initializeSigPad()
  },

  methods: {
    initializeSigPad () {
      var canvas = document.querySelector('canvas')
      this.signaturePad = new SignaturePad(canvas, {
        backgroundColor: 'white'
      })
    },

    clearSigPad () {
      this.signaturePad.clear()
      this.signatureData = null
      console.log('naclear ko', this.signatureData)
    },

    captureSigpad () {
      if (this.signaturePad.isEmpty()) {
        alert('Please provide a Signature first.')
        return
      }

      try {
        let sigData = this.signaturePad.toDataURL()

        this.dataURLToBlob(sigData)
      } catch (error) {
        console.log('error here', error)
      }
    },

    dataURLToBlob (dataURL) {
      // Code taken from https://github.com/ebidel/filer.js
      var parts = dataURL.split(';base64,')
      var contentType = parts[0].split(':')[1]
      var raw = window.atob(parts[1])
      var rawLength = raw.length
      var uInt8Array = new Uint8Array(rawLength)

      for (var i = 0; i < rawLength; ++i) {
        uInt8Array[i] = raw.charCodeAt(i)
      }

      this.signatureData = new Blob([uInt8Array], { type: contentType })
      this.$emit('signatureCaptured', this.signatureData)
    }
  }
}
</script>
