<template>
    <section>
        <div class="modal-card sm:w-screen md:w-96 h-screen">
                    <header class="modal-card-head">
                        <div class="w-full" style="">
                        <div class="float-left text-left">
                            <p class="text-lg subpixel-antialiased">Terms and Conditions</p>
                        </div>
                        <button
                            type="button"
                            class="delete float-right"
                            @click="$emit('closeModal')"/>
                        </div>
                    </header>
                    <section class="modal-card-body space-y-5 place-content-center">
                        <div>
                           KINDLY SCROLL DOWN BELOW AND CLICK ACCEPT
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFASDawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                            Dawat nalang sir aron walay lalis.XSDF
                            isShowLocationFieldSDF
                            SDFAS
                            SDFAS
                            SDFAS
                        </div>

                        <div class="buttons">
                           <b-button type="is-success" expanded @click="$emit('acceptedTerms')">ACCEPT</b-button>
                        </div>
                    </section>

        </div>
    </section>
</template>
