<template>
    <div class="">
        <section class="">
            <div class="w-full">
                <router-view/>
            </div>
        </section>
    </div>
</template>

<script>

export default {
  data () {
    return {
      expandOnHover: false,
      mobile: '',
      reduce: false
    }
  },

  computed: {
    sidebarOpen () {
      return this.$store.state.visitor.userInteractions.isSidebarOpen
    }
  },

  methods: {
    navigateProfileUpdate () {
      this.$store.dispatch('visitor/toggleShowSideBar', true)
      this.$router.push({ name: 'profile-update', params: 1 })
    },

    navigateRegistrantDashboard () {
      this.$store.dispatch('visitor/toggleShowSideBar', true)
      this.$router.push({ name: 'regDashboard', params: 1 })
    },

    navigatePaymentMethods () {
      this.$store.dispatch('visitor/toggleShowSideBar', true)
      this.$router.push({ name: 'paymentmethods', params: 1 })
    }
  }
}
</script>

<style lang="scss">
.p-1 {
  padding: 1em;
}
.sidebar-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    // min-height: 100vh;
    .sidebar-layout {
        display: flex;
        flex-direction: row;
        min-height: 100%;
        // min-height: 100vh;
    }
}
@media screen and (max-width: 1023px) {
    .b-sidebar {
        .sidebar-content {
            &.is-mini-mobile {
                &:not(.is-mini-expand),
                &.is-mini-expand:not(:hover) {
                    .menu-list {
                        li {
                            a {
                                span:nth-child(2) {
                                    display: none;
                                }
                            }
                            ul {
                                padding-left: 0;
                                li {
                                    a {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                    .menu-label:not(:last-child) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .b-sidebar {
        .sidebar-content {
            &.is-mini {
                &:not(.is-mini-expand),
                &.is-mini-expand:not(:hover) {
                    .menu-list {
                        li {
                            a {
                                span:nth-child(2) {
                                    display: none;
                                }
                            }
                            ul {
                                padding-left: 0;
                                li {
                                    a {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                    .menu-label:not(:last-child) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.is-mini-expand {
    .menu-list a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
</style>
