<template>
    <div class="">
        <div class="flex flex-col items-center place-content-center h-screen px-2">
            <div class="flex-none w-full border shadow-lg ">
                <div class="grid grid-cols-2">
                    <div class="col-span-2 md:col-span-1 bg-gradient-to-r from-green-400 to-blue-500 h-full">
                        <div class="flex flex-col items-center place-content-center h-full text-center p-5 space-y-2">
                                <div class="text-3xl font-bold text-white">
                                    Welcome to Aspire TC
                                </div>
                                <div class="text-white subpixel-antialiased">
                                    Don't have an account?
                                </div>
                                <div>
                                    <b-button class="bg-transparent text-white">Sign Up</b-button>
                                </div>
                        </div>
                    </div>
                    <div class="col-span-2 md:col-span-1 p-5">
                        <div class="h-full w-full">
                            <div class="flex flex-row items-end signin-header w-full" style="height:15%;">
                                <div class="flex flex-col">
                                    <span class="text-3xl font-semibold">Sign In</span>
                                <div class="text-sm">Kindly Input the credentials you created prior.</div>
                                </div>
                            </div>
                            <div class="flex flex-col p-5 space-y-8" style="min-height:85%;">
                                <div>
                                    <b-field label="Username">
                                        <b-input v-model="username"></b-input>
                                    </b-field>
                                </div>
                                <div>
                                    <b-field label="Password">
                                        <b-input type="password" v-model="password" password-reveal></b-input>
                                    </b-field>
                                </div>
                                <div class="space-y-2">
                                    <b-button @click="login" class="bg-gradient-to-r from-green-400 to-blue-500 text-white font-semibold" expanded>Sign In</b-button>
                                    <div class="flex flex-col items-end">
                                        Forget Password&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      username: null,
      password: null
    }
  },

  methods: {
    login () {
      let credentials = {
        user: {
          username: this.username,
          password: this.password
        }
      }

      this.$axios.post(this.$store.state.visitor.apiEndpoint + 'membership-registration/v1/login-user', credentials).then(res => {
        console.log('ako ni', res.data)
        if (typeof (res.data.status) !== 'undefined') {
          this.$buefy.toast.open({
            duration: 2000,
            message: 'Ooops. Invalid Credentials',
            position: 'is-top',
            type: 'is-danger'
          })
        } else {
          localStorage.setItem('accessToken', res.data.accessToken)
          this.$buefy.toast.open({
            message: 'Welcome!',
            type: 'is-success'
          })

          this.$store.dispatch('visitor/processLogin', res.data.accessToken).then(res => {
            this.$router.push('/registrant-dashboard')
          })
        }
      })
      // this.$store.dispatch('visitor/processLogin', credentials).then(res => {
      //   if (!res.status) {
      //     this.$buefy.toast.open({
      //       duration: 3000,
      //       message: 'Oooops! Invalid Username/Password',
      //       type: 'is-danger'
      //     })
      //   } else {
      //     this.$buefy.toast.open({
      //       message: 'Welcome!',
      //       type: 'is-success'
      //     })
      //     this.$router.push('/registrant-dashboard')
      //   }
      // })
    }
  }
}
</script>
