<template>
    <div>
       <div>
            <b-navbar class="shadow-md" :fixed-top="true" style="background-color: #3b82f6">
        <template #brand>
            <b-navbar-item tag="a" @click="sidebarOpen=!sidebarOpen" >
                <img
                    src="../assets/AspireTagumCoop.png"
                    alt="Lightweight UI components for Vue.js based on Bulma"
                >
            </b-navbar-item>
        </template>
        <template #start>
            <b-navbar-item href="#">
                <p style="color: #ffffff">Aspire TC</p>
            </b-navbar-item>
        </template>

        <template #end>
            <b-navbar-item v-if="currentUser === null" tag="div">
                <div class="buttons">
                    <a class="button is-primary">
                       <router-link to="/registration"> <strong>Sign up</strong> </router-link>
                    </a>
                    <a class="button is-light">
                        <router-link class="nav-link" to="/login">Log in</router-link>
                    </a>
                </div>
            </b-navbar-item>
            <b-navbar-dropdown :collapsible="true" v-else class="text-white" :label="currentUser.DesiredUsername">
                <b-navbar-item href="#">
                    Logout
                </b-navbar-item>
            </b-navbar-dropdown>
        </template>
    </b-navbar>
       </div>

    <b-sidebar
                v-if="$store.state.visitor.currentUser !== null"
                :mobile="mobile"
                :expand-on-hover="expandOnHover"
                :fullheight="true"
                type="is-light"
                v-model="sidebarOpen"
                :can-cancel="true"
            >
                <div class="p-1">
                    <div class="block text-center py-2">
                        <h5>Ronin TC App</h5>
                        <!-- <a @click="sidebarOpen=true"><b-icon
                            icon="backward"
                            size="is-small">
                        </b-icon> </a> -->
                    </div>
                    <b-menu class="is-custom-mobile">
                        <b-menu-list label="Menu">
                            <b-menu-item active icon="information-outline" @click="navigateRegistrantDashboard" label="Dashboard"></b-menu-item>
                            <b-menu-item  expanded icon="settings" label="Profile Management">
                                <b-menu-item icon="account" @click="navigateProfileUpdate" label="Update Profile"></b-menu-item>
                                <b-menu-item icon="account" @click="navigateAttachmentUpdate" label="Update Attachments"></b-menu-item>
                              <!--  <b-menu-item icon="cellphone-link" label="Devices"></b-menu-item>
                                <b-menu-item icon="cash-multiple" label="Payments" disabled></b-menu-item> -->
                            </b-menu-item>
                            <!-- <b-menu-item icon="account" label="My Account">
                                <b-menu-item icon="account-box" label="Account data"></b-menu-item>
                                <b-menu-item icon="home-account" label="Addresses"></b-menu-item>
                            </b-menu-item>
                            <b-menu-item icon="account" label="Payment Method" @click="navigatePaymentMethods"></b-menu-item> -->
                        </b-menu-list>
                        <!-- <b-menu-list>
                            <b-menu-item label="Expo" icon="link"></b-menu-item>
                        </b-menu-list> -->
                        <b-menu-list label="Actions">
                            <b-menu-item icon="logout" label="Logout" @click="processLogout"></b-menu-item>
                        </b-menu-list>
                    </b-menu>
                </div>
            </b-sidebar>

    <router-view :key="$route.fullPath"/>
 </div>
</template>

<script>
import { loadProgressBar } from 'axios-progress-bar'
import 'axios-progress-bar/dist/nprogress.css'

export default {
  data () {
    return {
      sidebarOpen: false,
      expandOnHover: false,
      mobile: '',
      reduce: false
    }
  },

  created () {
    loadProgressBar({
      showSpinner: false
    })
    this.setCurrentUser()
  },

  computed: {
    currentUser () {
      return this.$store.state.visitor.currentUser
    }
  },

  // filters: {
  //   convertToDate: function (value) {
  //     var a = new Date(value * 1000)
  //     var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
  //     var year = a.getFullYear()
  //     var month = months[a.getMonth()]
  //     var date = a.getDate()
  //     var hour = a.getHours()
  //     var min = a.getMinutes()
  //     var sec = a.getSeconds()
  //     var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec
  //     return time
  //   }
  // },

  methods: {
    setCurrentUser () {
      let ls = localStorage.getItem('accessToken')
      if (ls !== null) {
        if (this.$store.state.visitor.currentUser === null) {
          console.log('nakaabot ko diri oh hehe')
          this.$store.dispatch('visitor/processLogin', ls)
        }
      }
    },
    showSideBar () {
      this.$store.dispatch('visitor/toggleShowSideBar', true)
    },

    processLogout () {
      this.$store.dispatch('visitor/unsetUser').then(result => {
        this.$router.push('/login')
      })
    },

    navigateProfileUpdate () {
      this.sidebarOpen = false
      this.$router.push({ name: 'profile-update', params: 1 })
    },

    navigateAttachmentUpdate () {
      this.sidebarOpen = false
      this.$router.push({ name: 'attachments-update' })
    },

    navigateRegistrantDashboard () {
      this.sidebarOpen = false
      this.$router.push({ name: 'regDashboard', params: 1 })
    },
    navigatePaymentMethods () {
      this.$store.dispatch('visitor/toggleShowSideBar', true)
      this.$router.push({ name: 'paymentmethods', params: 1 })
    }
  }

}
</script>
