<template>
    <div>
       <div>
            <b-navbar :fixed-top="true">
        <template #brand>
            <b-navbar-item tag="router-link" :to="{ name: 'home' }">
                <img
                    src="../assets/AspireTagumCoop.png"
                    alt="Lightweight UI components for Vue.js based on Bulma"
                >
            </b-navbar-item>
        </template>
        <template #start>
            <b-navbar-item href="#">
                Aspire TC
            </b-navbar-item>
        </template>

        <template #end>
            <b-navbar-item tag="div">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </b-navbar-item>
        </template>
    </b-navbar>
       </div>

    <router-view :key="$route.fullPath"/>
 </div>
</template>
